.version.about /* version checker */
{
	color: #0000FB;
	background-color: #76D261;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1059.75px;
	border-width: 0px;
	border-color: #000000;
	padding-bottom: 0px;
	background: #FFFFFF url("../../images/phone.svg") no-repeat left top;
	background-size: 82px 82px;
}

.nosvg #page
{
	background-image: url('../../images/phone_poster_u9936.png');
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;/* should not cover content below */
}

#pptop
{
	width: 0.01px;
	margin-left: -50px;
}

#ptop
{
	width: 0.01px;
	margin-right: -10000px;
}

#top
{
	margin-left: 25px;
	position: relative;
}

#u3601
{
	z-index: 92;
	width: 50px;
	min-height: 50px;
	margin-top: 73px;
	position: relative;
}

#u3603
{
	z-index: 93;
	width: 50px;
	min-height: 50px;
	margin-top: 20px;
	position: relative;
}

#u3899
{
	z-index: 2;
	min-height: 345px;
	border-color: #000000;
	padding-bottom: 185px;
	background: #FFFFFF url("../../images/about_bg1.jpg") no-repeat left top;
	background-size: cover;
}

#pu9747
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
	margin-left: 8px;
}

#u9747
{
	z-index: 188;
	width: 87px;
	position: relative;
}

#u5659
{
	z-index: 189;
}

#u3905-15
{
	z-index: 3;
	width: 215px;
	min-height: 204px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 20px;
	padding-right: 10px;
	font-size: 40px;
	color: #FFFFFF;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 62px;
	margin-top: 82px;
	position: relative;
}

.article_headline_top
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#u3905
{
	font-size: 25px;
	letter-spacing: 5px;
	line-height: 23px;
}

#u3905-2
{
	font-size: 25px;
	letter-spacing: 4px;
	line-height: 23px;
}

#u3905-3,#u3905-10
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3905-4
{
	font-size: 29px;
	letter-spacing: 6px;
	line-height: 26px;
}

#u3905-5
{
	letter-spacing: 2px;
	line-height: 36px;
}

#u3905-6
{
	font-size: 37px;
	letter-spacing: -1px;
	line-height: 33px;
}

#u3905-7
{
	font-size: 37px;
	letter-spacing: 1px;
	line-height: 33px;
}

#u3905-8
{
	font-size: 50px;
	letter-spacing: 1px;
	line-height: 45px;
}

#u3905-9
{
	font-size: 50px;
	letter-spacing: 12px;
	line-height: 45px;
}

#u3905-13
{
	line-height: 40px;
}

#u3906
{
	margin-top: 12px;
	margin-bottom: -12px;
}

#u3907-6
{
	z-index: 18;
	width: 206px;
	min-height: 32px;
	background-color: transparent;
	color: #C9C9C9;
	line-height: 17px;
	font-size: 11px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#buttonu3593
{
	z-index: 84;
	width: 52px;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
	left: 328px;
}

#buttonu3593.ButtonSelected
{
	width: 52px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3594
{
	z-index: 85;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 19px;
}

#u3599
{
	z-index: 86;
	width: 17px;
	position: relative;
}

#u3600
{
	z-index: 87;
	width: 17px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
}

#u3597
{
	z-index: 88;
	width: 17px;
	margin-top: 6px;
	position: relative;
}

#u3598
{
	z-index: 89;
	width: 17px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
}

#u3595
{
	z-index: 90;
	width: 17px;
	margin-top: 7px;
	position: relative;
}

#u3596
{
	z-index: 91;
	width: 17px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u3899-bw
{
	z-index: 2;
	min-height: 345px;
}

#u3904
{
	z-index: 25;
	min-height: 203px;
	border-color: #000000;
	padding-bottom: 16px;
	background: transparent url("../../images/wedge.svg") no-repeat center center;
	background-size: cover;
}

.nosvg #u3904
{
	background-image: url('../../images/wedge_poster_u10028.png');
}

#u3908
{
	z-index: 26;
	width: 160px;
	height: 160px;
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 106px;
	background: #FFFFFF url("../../images/compass08-ieu3908-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../../images/compass08.jpg") no-repeat center center;
	background-color: #FFFFFF;
	background-size: cover;
}

#u3904-bw
{
	z-index: 25;
	min-height: 203px;
	margin-top: 383px;
}

#u3909-6
{
	z-index: 27;
	width: 298px;
	min-height: 66px;
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	text-align: center;
	margin-left: 41px;
	margin-top: 30px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3909-2
{
	font-size: 15px;
	line-height: 21px;
	letter-spacing: 6px;
	color: #382C2D;
}

#u3909-4
{
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 3px;
	font-style: italic;
}

#u3910-4
{
	z-index: 33;
	width: 336px;
	min-height: 176px;
	background-color: transparent;
	text-align: center;
	margin-left: 21px;
	margin-top: 23px;
	position: relative;
}

#u3915-3
{
	z-index: 37;
	width: 61px;
	min-height: 49px;
	margin-left: 158px;
	margin-top: 29px;
	position: relative;
	background: transparent url("../../images/smart_quote.svg") no-repeat left top;
	background-size: contain;
}

.nosvg #u3915-3
{
	background-image: url('../../images/smart_quote_poster_u9944.png');
}

#u3916-11
{
	z-index: 40;
	width: 336px;
	min-height: 244px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 40px;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#u3916-2,#u3916-5
{
	line-height: 40px;
	color: #90624D;
}

#u3916,#u3916-3
{
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u3916-9
{
	line-height: 48px;
	color: #7F7F7F;
}

#u3917
{
	margin-top: 6px;
	margin-bottom: -6px;
}

#u3918-6
{
	z-index: 51;
	width: 206px;
	min-height: 32px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 17px;
	font-size: 11px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3907-2,#u3918-2
{
	letter-spacing: 3px;
}

#u3916-7,#u3916-8
{
	color: #C7C7C7;
}

#u3922
{
	z-index: 67;
	min-height: 122px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background: #FFFFFF url("../../images/about_bg2.jpg") no-repeat left top;
	background-size: cover;
}

#u3926-7
{
	z-index: 68;
	width: 336px;
	min-height: 47px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 30px;
	color: #FFFFFF;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#u3926-2
{
	font-size: 20px;
	line-height: 22px;
	letter-spacing: 2px;
}

#u3926-5
{
	font-size: 60px;
	line-height: 66px;
}

#u3905-11,#u3916-6,#u3926-3
{
	font-size: 1px;
	line-height: 0px;
}

#u3927
{
	margin-top: -14px;
	margin-bottom: 14px;
}

#u3928-5
{
	z-index: 75;
	width: 337px;
	min-height: 32px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #C9C9C9;
	line-height: 15px;
	font-size: 10px;
	text-align: center;
	letter-spacing: 2px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3928-2
{
	letter-spacing: 4px;
}

#u3922-bw
{
	z-index: 67;
	min-height: 122px;
	margin-top: 34px;
}

#u3919-9
{
	z-index: 58;
	width: 336px;
	min-height: 312px;
	background-color: transparent;
	text-align: center;
	margin-left: 21px;
	margin-top: 70px;
	position: relative;
}

#pu5541
{
	width: 0.01px;
	margin-top: -3px;
}

#u5541
{
	z-index: 81;
	width: 379px;
	height: 527px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#u3789
{
	z-index: 82;
	min-height: 91px;
	padding-bottom: 96px;
}

#u3773-6
{
	z-index: 94;
	width: 303px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 22px;
}

#u3789-bw
{
	z-index: 82;
	min-height: 91px;
	margin-top: 42px;
}

#u3800
{
	z-index: 83;
	width: 126px;
	height: 297px;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 254px;
}

#widgetu3774
{
	z-index: 100;
	width: 0.01px;
	height: 66px;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 18px;
}

#widgetu3778
{
	z-index: 101;
	width: 227px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
}

#widgetu3778.fld-err-st
{
	width: 227px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3780-4
{
	z-index: 102;
	width: 215px;
	min-height: 14px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
}

#widgetu3778:hover #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778.focus-st #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778.fld-err-st #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778_input,#widgetu3778_prompt
{
	width: 215px;
	min-height: 14px;
	padding: 6px;
}

#widgetu3778:hover #widgetu3778_input,#widgetu3778.focus-st #widgetu3778_input,#widgetu3778.fld-err-st #widgetu3778_input,#widgetu3778:hover #widgetu3778_prompt,#widgetu3778.focus-st #widgetu3778_prompt,#widgetu3778.fld-err-st #widgetu3778_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u3777-4
{
	z-index: 106;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#u3775-4
{
	z-index: 110;
	width: 200px;
	min-height: 24px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#widgetu3774.frm-subm-err-st #u3775-4
{
	min-height: 28px;
}

#u3776-4
{
	z-index: 114;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#widgetu3774.frm-sub-st #u3777-4,#widgetu3774.frm-subm-ok-st #u3776-4
{
	min-height: 25px;
}

#u3782-17
{
	z-index: 118;
	min-height: 27px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u9741
{
	z-index: 172;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 14px;
}

#u3792
{
	z-index: 173;
}

#u9732
{
	z-index: 174;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 57px;
}

#u3794
{
	z-index: 175;
}

#u9735
{
	z-index: 176;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 101px;
}

#u3796
{
	z-index: 177;
}

#u9738
{
	z-index: 178;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 144px;
}

#u3798
{
	z-index: 179;
}

#pu3791-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 202px;
}

#u3791-5
{
	z-index: 164;
	width: 177px;
	min-height: 29px;
	padding-top: 13px;
	position: relative;
	margin-right: -10000px;
}

#u3956
{
	margin-top: 3px;
	margin-bottom: -3px;
}

#u9750
{
	z-index: 169;
	width: 20px;
}

#u3954
{
	z-index: 170;
}

#u5942
{
	z-index: 190;
	width: 168px;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 10px;
}

.ie #u5942
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3783,#u3783-bw
{
	z-index: 135;
	min-height: 42px;
}

#u3784
{
	z-index: 137;
	width: 280px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 22px;
}

#u3785-4
{
	z-index: 138;
	width: 233px;
	min-height: 29px;
	position: relative;
}

#u3786-9
{
	z-index: 146;
	width: 280px;
	min-height: 98px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u3787-4
{
	z-index: 142;
	width: 233px;
	min-height: 29px;
	margin-top: 7px;
	position: relative;
}

#u3788-9
{
	z-index: 155;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u3809-7
{
	z-index: 180;
	width: 328px;
	min-height: 26px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
}

#u3808,#u3808-bw
{
	z-index: 136;
	min-height: 36px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

