.version.blog_details /* version checker */
{
	color: #0000E3;
	background-color: #BCDEF5;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1059.9500000000016px;
	border-width: 0px;
	border-color: #000000;
	padding-bottom: 0px;
	background: #FFFFFF url("../../images/phone.svg") no-repeat left top;
	background-size: 82px 82px;
}

.nosvg #page
{
	background-image: url('../../images/phone_poster_u9936.png');
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;/* should not cover content below */
}

#pptop
{
	width: 0.01px;
	margin-left: -50px;
}

#ptop
{
	width: 0.01px;
	margin-right: -10000px;
}

#top
{
	margin-left: 25px;
	position: relative;
}

#u3601
{
	z-index: 60;
	width: 50px;
	min-height: 50px;
	margin-top: 73px;
	position: relative;
}

#u3603
{
	z-index: 61;
	width: 50px;
	min-height: 50px;
	margin-top: 20px;
	position: relative;
}

#u5683
{
	z-index: 2;
	min-height: 164.65px;
	border-color: #000000;
	padding-left: 8px;
	padding-bottom: 224.35px;
	background: #FFFFFF url("../../images/overlook.jpg") no-repeat left top;
	background-size: cover;
}

#pu9747
{
	width: 0.01px;
	position: relative;
}

#u9747
{
	z-index: 156;
	width: 87px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u5659
{
	z-index: 157;
}

#buttonu3593
{
	z-index: 52;
	width: 52px;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
	left: 319px;
}

#buttonu3593.ButtonSelected
{
	width: 52px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3594
{
	z-index: 53;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 19px;
}

#u3599
{
	z-index: 54;
	width: 17px;
	position: relative;
}

#u3600
{
	z-index: 55;
	width: 17px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
}

#u3597
{
	z-index: 56;
	width: 17px;
	margin-top: 6px;
	position: relative;
}

#u3598
{
	z-index: 57;
	width: 17px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
}

#u3595
{
	z-index: 58;
	width: 17px;
	margin-top: 7px;
	position: relative;
}

#u3596
{
	z-index: 59;
	width: 17px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
}

#u5953-4
{
	z-index: 45;
	width: 315px;
	min-height: 49px;
	background-color: transparent;
	font-size: 30px;
	letter-spacing: 2px;
	color: #FFFFFF;
	line-height: 36px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 18px;
	margin-top: 44px;
	position: relative;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u5683-bw
{
	z-index: 2;
	min-height: 164.65px;
}

#u5706
{
	z-index: 3;
	min-height: 217px;
	border-color: #000000;
	padding-bottom: 19px;
	background: transparent url("../../images/wedge.svg") no-repeat center center;
	background-size: cover;
}

.nosvg #u5706
{
	background-image: url('../../images/wedge_poster_u10028.png');
}

#u5712
{
	z-index: 4;
	width: 160px;
	height: 160px;
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 106px;
	background: #FFFFFF url("../../images/couple-u5712-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#u5706-bw
{
	z-index: 3;
	min-height: 217px;
	margin-top: 170px;
}

#u5707-4
{
	z-index: 5;
	width: 336px;
	min-height: 176px;
	background-color: transparent;
	line-height: 25px;
	margin-left: 21px;
	margin-top: 53px;
	position: relative;
}

#u5704
{
	z-index: 33;
	min-height: 119px;
	border-color: #000000;
	padding-bottom: 15px;
	background: #FFFFFF url("../../images/climbing.jpg") no-repeat center top;
	background-size: cover;
}

#u5938-5
{
	z-index: 40;
	width: 314px;
	min-height: 63px;
	border-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 20px;
	padding-right: 10px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 16px;
}

.article_headline_top
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#u5938-2
{
	font-size: 30px;
	text-align: center;
	line-height: 27px;
	color: #382C2D;
	font-family: meddon, cursive;
}

#u5938-3
{
	font-size: 40px;
	text-align: center;
	line-height: 40px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
}

#u5704-bw
{
	z-index: 33;
	min-height: 119px;
	margin-top: 44px;
}

#u5926-22
{
	z-index: 9;
	width: 336px;
	min-height: 176px;
	background-color: transparent;
	margin-left: 21px;
	margin-top: 61px;
	position: relative;
}

#u5926-9
{
	text-align: center;
}

#u5926-7
{
	font-size: 1px;
	line-height: 0px;
}

#u5932
{
	z-index: 20;
	width: 160px;
	height: 160px;
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF;
	border-radius: 100px;
	background: #FFFFFF url("../../images/overlook-u5932-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#u5926-2,#u5926-3,#u5926-5,#u5926-12
{
	line-height: 25px;
}

#u5926-14,#u5926-17
{
	letter-spacing: 1px;
	font-style: italic;
}

#u5926-16
{
	font-style: normal;
}

#u5926-20
{
	font-size: 20px;
	line-height: 40px;
	color: #382C2D;
	font-style: italic;
}

#u5926-19
{
	font-family: meddon, cursive;
	font-weight: 400;
	font-style: italic;
}

#u5927
{
	z-index: 34;
	min-height: 110px;
	border-color: #000000;
	background: #FFFFFF url("../../images/bikebasket.jpg") no-repeat right center;
	background-size: cover;
}

#u5931-5
{
	z-index: 35;
	width: 314px;
	min-height: 58px;
	border-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 20px;
	padding-right: 10px;
	color: #FFFFFF;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 30px;
}

#u5931-2
{
	font-size: 14px;
	line-height: 13px;
}

#u5931
{
	letter-spacing: 5px;
}

#u5931-3
{
	font-size: 40px;
	line-height: 40px;
}

#u5927-bw
{
	z-index: 34;
	min-height: 110px;
	margin-top: 53px;
}

#pu5541
{
	width: 0.01px;
	margin-top: -3px;
}

#u5541
{
	z-index: 49;
	width: 379px;
	height: 527px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#u3789
{
	z-index: 50;
	min-height: 91px;
	padding-bottom: 96px;
}

#u3773-6
{
	z-index: 62;
	width: 303px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 22px;
}

#u3789-bw
{
	z-index: 50;
	min-height: 91px;
	margin-top: 42px;
}

#u3800
{
	z-index: 51;
	width: 126px;
	height: 297px;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 254px;
}

#widgetu3774
{
	z-index: 68;
	width: 0.01px;
	height: 66px;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 18px;
}

#widgetu3778
{
	z-index: 69;
	width: 227px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
}

#widgetu3778.fld-err-st
{
	width: 227px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3780-4
{
	z-index: 70;
	width: 215px;
	min-height: 14px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
}

#widgetu3778:hover #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778.focus-st #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778.fld-err-st #u3780-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 215px;
	margin: 0px -10000px 0px 0px;
}

#widgetu3778_input,#widgetu3778_prompt
{
	width: 215px;
	min-height: 14px;
	padding: 6px;
}

#widgetu3778:hover #widgetu3778_input,#widgetu3778.focus-st #widgetu3778_input,#widgetu3778.fld-err-st #widgetu3778_input,#widgetu3778:hover #widgetu3778_prompt,#widgetu3778.focus-st #widgetu3778_prompt,#widgetu3778.fld-err-st #widgetu3778_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u3777-4
{
	z-index: 74;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#u3775-4
{
	z-index: 78;
	width: 200px;
	min-height: 24px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#widgetu3774.frm-subm-err-st #u3775-4
{
	min-height: 28px;
}

#u3776-4
{
	z-index: 82;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 14px;
}

#widgetu3774.frm-sub-st #u3777-4,#widgetu3774.frm-subm-ok-st #u3776-4
{
	min-height: 25px;
}

#u3782-17
{
	z-index: 86;
	min-height: 27px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u9741
{
	z-index: 140;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 14px;
}

#u3792
{
	z-index: 141;
}

#u9732
{
	z-index: 142;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 57px;
}

#u3794
{
	z-index: 143;
}

#u9735
{
	z-index: 144;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 101px;
}

#u3796
{
	z-index: 145;
}

#u9738
{
	z-index: 146;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 144px;
}

#u3798
{
	z-index: 147;
}

#pu3791-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 202px;
}

#u3791-5
{
	z-index: 132;
	width: 177px;
	min-height: 29px;
	padding-top: 13px;
	position: relative;
	margin-right: -10000px;
}

#u3956
{
	margin-top: 3px;
	margin-bottom: -3px;
}

#u9750
{
	z-index: 137;
	width: 20px;
}

#u3954
{
	z-index: 138;
}

#u5939
{
	z-index: 158;
	width: 168px;
	height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 10px;
}

.ie #u5939
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3783,#u3783-bw
{
	z-index: 103;
	min-height: 42px;
}

#u3784
{
	z-index: 105;
	width: 280px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 22px;
}

#u3785-4
{
	z-index: 106;
	width: 233px;
	min-height: 29px;
	position: relative;
}

#u3786-9
{
	z-index: 114;
	width: 280px;
	min-height: 98px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u3787-4
{
	z-index: 110;
	width: 233px;
	min-height: 29px;
	margin-top: 7px;
	position: relative;
}

#u3788-9
{
	z-index: 123;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u3809-7
{
	z-index: 148;
	width: 328px;
	min-height: 26px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 19px;
}

#u3808,#u3808-bw
{
	z-index: 104;
	min-height: 36px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

