#buttonu3593
{
	border-width: 0px;
}

.navigation
{
	border-width: 2px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 8px;
}

#u3600,#u3598,#u3596
{
	border-color: #000000;
	background-color: #FFFFFF;
}

#u5541
{
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	border-width: 1px 0px 0px;
}

#u3789
{
	border-style: solid;
	border-bottom-width: 1px;
}

.hr
{
	border-color: #EAEAEA;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u3773-6
{
	border-color: #EAEAEA;
	background-color: transparent;
	text-align: left;
}

#u3773-4
{
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 2px;
	color: #7F7F7F;
	font-style: normal;
}

#u3800
{
	border-width: 0px;
	border-color: transparent;
	background: #90624D url("../../images/about_bg2-u3800-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u3601,#u3603,#u3594,#u3599,#u3597,#u3595,#widgetu3778
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#widgetu3778.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u3780-4
{
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	border-width: 0px 0px 1px;
}

#widgetu3778:hover #u3780-4
{
	border-color: #C4C4C4;
}

#widgetu3778.focus-st #u3780-4
{
	border-color: #6B6B6B;
}

#widgetu3778.fld-err-st #u3780-4
{
	border-color: #90624D;
}

#widgetu3778:hover #u3780-4 *
{
	color: #90624D;
}

#widgetu3778.focus-st #u3780-4 *
{
	color: #7F7F7F;
}

#widgetu3778.fld-err-st #u3780-4 *
{
	color: #90624D;
}

#widgetu3778_input,#widgetu3778_prompt
{
	color: #7F7F7F;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-style: normal;
	font-weight: 400;
}

#widgetu3778.non-empty-st #widgetu3778_prompt
{
	visibility: hidden;
}

#u3777-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu3774.frm-sub-st #u3777-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3775-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu3774.frm-subm-err-st #u3775-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3776-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu3774.frm-sub-st #u3777-4,#widgetu3774.frm-subm-err-st #u3775-4,#widgetu3774.frm-subm-ok-st #u3776-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu3774.frm-subm-ok-st #u3776-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u3782-17
{
	background: transparent url("../../images/u3782-17.png") no-repeat 0px 0px;
}

#u3782-17:hover
{
	background: transparent url("../../images/u3782-17-r.png") no-repeat 0px 0px;
}

#u3782-17:active
{
	background: transparent url("../../images/u3782-17-m.png") no-repeat 0px 0px;
}

#widgetu3774.frm-sub-st #u3782-17
{
	background: transparent url("../../images/u3782-17-fs.png") no-repeat 0px 0px;
}

#u3783
{
	border-width: 0px;
	border-color: transparent;
}

#u3791-5
{
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 17px;
	border-width: 0px 0px 0px 1px;
}

#u9747,#u9741,#u9732,#u9735,#u9738,#u9750
{
	background-color: transparent;
}

#u5659,#u3792,#u3794,#u3796,#u3798,#u3954
{
	display: block;
}

#u3784
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u3786-2,#u3786-4,#u3786-6
{
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
}

#u3785-4,#u3787-4
{
	border-color: #EAEAEA;
	background-color: transparent;
	letter-spacing: 2px;
	font-size: 12px;
	line-height: 20px;
}

#u3786-9,#u3788-9
{
	border-color: #EAEAEA;
	background-color: transparent;
	color: #7F7F7F;
	font-weight: 400;
}

#u3788-2,#u3788-4,#u3788-6
{
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
}

#u3786-7,#u3788-7
{
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 4px;
	font-family: dosis, sans-serif;
}

#u3808
{
	border-width: 0px;
	border-color: transparent;
	background-color: #90624D;
}

#u3809-7
{
	border-color: #EAEAEA;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 12px;
	font-size: 9px;
	letter-spacing: 3px;
	font-family: dosis, sans-serif;
	font-weight: 400;
}

#u3809-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3809
{
	font-size: 8px;
	color: #EAEAEA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 10px;
}

#u3809-2
{
	color: #EAEAEA;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 12px;
}

#u3809-3
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 12px;
}

#u3809-4
{
	line-height: 12px;
}


