.version.aplicaciones /* version checker */
{
	color: #00000F;
	background-color: #E33808;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#paccordionu1636
{
	width: 0.01px;
	padding-bottom: 518px;
	margin-right: -10000px;
	margin-top: -13px;
	margin-left: -100px;
}

#accordionu1636
{
	z-index: 199;
	position: fixed;
	bottom: -5px;
}

#u1637
{
	z-index: 200;
}

#u1649-5
{
	z-index: 201;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-5:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1649-5.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 206;
}

#pu1648-29
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1648-29
{
	z-index: 207;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 236;
	width: 430px;
	min-height: 412px;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 245;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 246;
	width: 225px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 247;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 251;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 255;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 259;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 263;
	min-height: 32px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-5
{
	z-index: 280;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 384px;
}

#u1932
{
	z-index: 285;
	width: 35px;
	height: 35px;
}

#u1963-5
{
	z-index: 287;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 430px;
}

#u1965
{
	z-index: 292;
	width: 35px;
	height: 35px;
}

#u1978-5
{
	z-index: 294;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 476px;
}

#u1901-5:hover,#u1963-5:hover,#u1978-5:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1980
{
	z-index: 299;
	width: 35px;
	height: 35px;
}

#u1936-5
{
	z-index: 301;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 338px;
}

#u1933,#u1964,#u1979,#u1937
{
	margin: -9px -10px -11px;
}

#u1938
{
	z-index: 306;
	width: 35px;
	height: 35px;
}

#u1932:hover,#u1965:hover,#u1980:hover,#u1938:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-6
{
	z-index: 308;
	width: 303px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 314;
	width: 234px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2126-4
{
	z-index: 348;
	width: 328px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 330px;
}

#u2127-4
{
	z-index: 352;
	width: 200px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 318;
	width: 280px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 319;
	width: 280px;
	min-height: 29px;
	position: relative;
}

#u2014-12
{
	z-index: 327;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u2013-4
{
	z-index: 323;
	width: 280px;
	min-height: 29px;
	margin-top: 45px;
	position: relative;
}

#u1900-9
{
	z-index: 339;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#accordionu1636-bw
{
	z-index: 199;
}

#u487-5
{
	z-index: 356;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 361;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u487-5-bw
{
	z-index: 356;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -13px;
}

#u2646-5
{
	z-index: 365;
	min-height: 50px;
	padding-right: 6px;
}

#u2662
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u2661
{
	z-index: 370;
	width: 68px;
	height: 39px;
}

#u2661:hover
{
	width: 68px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 372;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-5-bw
{
	z-index: 365;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 16px;
}

#u6111-17
{
	z-index: 374;
	width: 820px;
	min-height: 26px;
	position: fixed;
	top: 38px;
	left: 70px;
}

#u7507
{
	z-index: 391;
	width: 248px;
	min-height: 82px;
	position: fixed;
	top: 16px;
	left: 24px;
}

#u6310
{
	z-index: 392;
	width: 35px;
	height: 1px;
	border-color: #000000;
	background-color: #382C2D;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: 77px;
}

#pu2398-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 124px;
	margin-left: -100px;
}

#u2398-8
{
	z-index: 2;
	min-height: 500px;
	border-style: solid;
	border-color: #FFFFFF;
	text-align: left;
	border-width: 0px 30px;
}

.text_container
{
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 30px;
}

#u2400-5
{
	z-index: 7;
	width: 355px;
	min-height: 310px;
	border-style: solid;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	padding-top: 190px;
	text-align: center;
	font-size: 50px;
	color: #FFFFFF;
	line-height: 60px;
	letter-spacing: 1px;
	font-family: meddon, cursive;
	font-weight: 400;
	border-width: 0px 5px 0px 0px;
	background: #000000 url("../images/puente%20drone.jpg") no-repeat center center;
	background-size: cover;
}

.box1
{
	border-color: #F8F8F8;
	border-width: 2px 5px 2px 0px;
	background: #000000 url("../images/bikebasket-ieu2400-5-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/bikebasket.jpg") no-repeat center center;
	background-color: #000000;
	background-size: cover;
}

#u2402-13
{
	z-index: 12;
	width: 289px;
	min-height: 139px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2406-3
{
	z-index: 20;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

.hr
{
	border-color: #EAEAEA;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u2404-4
{
	z-index: 27;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	text-align: center;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
}

.social_link
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#u2408-5
{
	z-index: 36;
	width: 355px;
	min-height: 500px;
	border-style: solid;
	text-align: center;
	border-width: 0px 0px 0px 5px;
	background: #EAEAEA url("../images/consultation%20-%202.jpg") no-repeat center center;
	background-size: cover;
}

.box2
{
	border-color: #F8F8F8;
	background-color: #EAEAEA;
	border-width: 2px 4px 2px 3px;
}

#u2410-13
{
	z-index: 41;
	width: 284px;
	min-height: 139px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2414-3
{
	z-index: 49;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

#u2412-4
{
	z-index: 56;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	text-align: center;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u2398-8-bw
{
	z-index: 2;
	min-height: 500px;
	margin-top: 1010px;
}

#u2267-8
{
	z-index: 68;
	min-height: 500px;
	border-style: solid;
	border-color: #FFFFFF;
	text-align: left;
	border-width: 0px 30px;
}

#u2277-5
{
	z-index: 73;
	width: 355px;
	min-height: 310px;
	border-style: solid;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	padding-top: 190px;
	text-align: center;
	font-size: 50px;
	color: #FFFFFF;
	line-height: 60px;
	letter-spacing: 1px;
	font-family: meddon, cursive;
	font-weight: 400;
	border-width: 0px 5px 0px 0px;
	background: #000000 url("../images/escaneo%203d.jpg") no-repeat center center;
	background-size: cover;
}

#u2373-13
{
	z-index: 78;
	width: 284px;
	min-height: 139px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2375-3
{
	z-index: 86;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

#u2377-4
{
	z-index: 93;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	text-align: center;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u2269-5
{
	z-index: 102;
	width: 355px;
	min-height: 500px;
	border-style: solid;
	text-align: center;
	border-width: 0px 0px 0px 5px;
	background: #EAEAEA url("../images/high%20voltaje.jpg") no-repeat center center;
	background-size: cover;
}

#u2361-11
{
	z-index: 107;
	width: 323px;
	min-height: 256px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2361-4
{
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 5px;
	color: #FFFFFF;
	font-weight: bold;
}

#u2363-3
{
	z-index: 113;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

#u2365-4
{
	z-index: 120;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	text-align: center;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u2267-8-bw
{
	z-index: 68;
	min-height: 500px;
	margin-top: 505px;
}

#u1855-8
{
	z-index: 132;
	min-height: 500px;
	border-style: solid;
	border-color: #FFFFFF;
	text-align: left;
	border-width: 0px 30px;
}

#u1857-5
{
	z-index: 137;
	width: 355px;
	min-height: 310px;
	border-style: solid;
	padding-top: 190px;
	text-align: center;
	font-size: 50px;
	color: #FFFFFF;
	line-height: 60px;
	letter-spacing: 1px;
	font-family: meddon, cursive;
	font-weight: 400;
	border-width: 0px 5px 0px 0px;
	background: #000000 url("../images/infraestructura.jpg") no-repeat center center;
	background-size: cover;
}

#u2401,#u2378,#u2360
{
	margin-top: -18px;
	margin-bottom: 18px;
	margin-left: -30px;
}

#u2355-13
{
	z-index: 142;
	width: 294px;
	min-height: 139px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2357-3
{
	z-index: 150;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

#u2359-4
{
	z-index: 157;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	text-align: center;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u1865-5
{
	z-index: 166;
	width: 355px;
	min-height: 500px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	border-style: solid;
	text-align: center;
	border-width: 0px 0px 0px 5px;
	background: #EAEAEA url("../images/mapeo.png") no-repeat center center;
	background-size: cover;
}

#u2409,#u2366,#u2346
{
	margin-top: 171px;
	margin-bottom: -171px;
	margin-left: -30px;
}

#u2343-13
{
	z-index: 171;
	width: 284px;
	min-height: 139px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u2402,#u2410,#u2373,#u2361,#u2355,#u2343
{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 3px;
	color: #FFFFFF;
}

#u2402-3,#u2410-3,#u2373-3,#u2355-3,#u2343-3
{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 5px;
	color: #FFFFFF;
	font-weight: bold;
}

#u2402-6,#u2410-6,#u2373-6,#u2355-6,#u2343-6
{
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 5px;
	color: #FFFFFF;
}

#u2405,#u2413,#u2374,#u2362,#u2356,#u2349
{
	margin-top: 23px;
	margin-bottom: -23px;
}

#u2348-3
{
	z-index: 179;
	width: 96px;
	min-height: 17px;
	border-style: solid;
	border-width: 1px 0px 0px;
}

#u2398,#u2400,#u2402-4,#u2402-7,#u2408,#u2410-4,#u2410-7,#u2267,#u2277,#u2373-4,#u2373-7,#u2269,#u2361-5,#u1855,#u1857,#u2355-4,#u2355-7,#u1865,#u2343-4,#u2343-7
{
	font-size: 1px;
	line-height: 0px;
}

#u2403,#u2411,#u2376,#u2364,#u2358,#u2344
{
	margin-top: 25px;
	margin-bottom: -25px;
}

#u2345-4
{
	z-index: 186;
	width: 182px;
	min-height: 15px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 12px;
	text-align: center;
	letter-spacing: 3px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u2402-9,#u2402-10,#u2410-9,#u2410-10,#u2373-9,#u2373-10,#u2361-7,#u2361-8,#u2355-9,#u2355-10,#u2343-9,#u2343-10
{
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #382C2D;
}

#u2402-11,#u2410-11,#u2373-11,#u2361-9,#u2355-11,#u2343-11
{
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 4px;
	color: #382C2D;
}

#u2398-4,#u2267-4,#u1855-4
{
	color: #FFFFFF;
}

#u2398-5,#u2267-5,#u1855-5
{
	color: #FFFF00;
}

#u1855-8-bw
{
	z-index: 132;
	min-height: 500px;
}

#u2415
{
	z-index: 198;
	width: 248px;
	height: 86px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1539px;
	left: 490px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}


