.version.blog_grilla /* version checker */
{
	color: #0000EE;
	background-color: #DFC75F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.95000000000005px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -13px;
	width: 0.01px;/* should not cover content below */
}

#paccordionu1636
{
	width: 0.01px;
	padding-bottom: 518px;
	margin-left: -100px;
}

#accordionu1636
{
	z-index: 196;
	position: fixed;
	bottom: -5px;
}

#u1637
{
	z-index: 197;
}

#u1649-5
{
	z-index: 198;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-5:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1649-5.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 203;
}

#pu1648-29
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1648-29
{
	z-index: 204;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 233;
	width: 430px;
	min-height: 412px;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 242;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 243;
	width: 225px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 244;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 248;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 252;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 256;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 260;
	min-height: 32px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-5
{
	z-index: 277;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 384px;
}

#u1932
{
	z-index: 282;
	width: 35px;
	height: 35px;
}

#u1963-5
{
	z-index: 284;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 430px;
}

#u1965
{
	z-index: 289;
	width: 35px;
	height: 35px;
}

#u1978-5
{
	z-index: 291;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 476px;
}

#u1901-5:hover,#u1963-5:hover,#u1978-5:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1980
{
	z-index: 296;
	width: 35px;
	height: 35px;
}

#u1936-5
{
	z-index: 298;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 338px;
}

#u1933,#u1964,#u1979,#u1937
{
	margin: -9px -10px -11px;
}

#u1938
{
	z-index: 303;
	width: 35px;
	height: 35px;
}

#u1932:hover,#u1965:hover,#u1980:hover,#u1938:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-6
{
	z-index: 305;
	width: 303px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 311;
	width: 234px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2126-4
{
	z-index: 345;
	width: 328px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 330px;
}

#u2127-4
{
	z-index: 349;
	width: 200px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 315;
	width: 280px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 316;
	width: 280px;
	min-height: 29px;
	position: relative;
}

#u2014-12
{
	z-index: 324;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u2013-4
{
	z-index: 320;
	width: 280px;
	min-height: 29px;
	margin-top: 45px;
	position: relative;
}

#u1900-9
{
	z-index: 336;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#accordionu1636-bw
{
	z-index: 196;
}

#u487-5
{
	z-index: 353;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 358;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u487-5-bw
{
	z-index: 353;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -13px;
}

#u2646-5
{
	z-index: 362;
	min-height: 50px;
	padding-right: 6px;
}

#u2662
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u2661
{
	z-index: 367;
	width: 68px;
	height: 39px;
}

#u2661:hover
{
	width: 68px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 369;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-5-bw
{
	z-index: 362;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 16px;
}

#u6111-17
{
	z-index: 371;
	width: 820px;
	min-height: 26px;
	position: fixed;
	top: 38px;
	left: 70px;
}

#u7507
{
	z-index: 388;
	width: 248px;
	min-height: 82px;
	position: fixed;
	top: 16px;
	left: 24px;
}

#u6308
{
	z-index: 389;
	width: 35px;
	height: 1px;
	border-color: #000000;
	background-color: #382C2D;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -35px;
}

#pu5977-8
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -365px;
}

#u5977-8
{
	z-index: 2;
	min-height: 500px;
	border-style: solid;
	border-color: #FFFFFF;
	text-align: left;
	border-width: 0px 30px;
}

.text_container
{
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 30px;
}

#u5979-5
{
	z-index: 7;
	width: 355px;
	min-height: 310px;
	border-style: solid;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	padding-top: 190px;
	text-align: center;
	font-size: 50px;
	color: #FFFFFF;
	line-height: 60px;
	letter-spacing: 1px;
	font-family: meddon, cursive;
	font-weight: 400;
	border-width: 0px 5px 0px 0px;
	background: #000000 url("../images/couple.jpg") no-repeat center center;
	background-size: cover;
}

.box1
{
	border-color: #F8F8F8;
	border-width: 2px 5px 2px 0px;
	background: #000000 url("../images/bikebasket-ieu2400-5-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/bikebasket.jpg") no-repeat center center;
	background-color: #000000;
	background-size: cover;
}

#u6107
{
	margin-top: 19px;
	margin-bottom: -19px;
	margin-left: -30px;
}

#u6102-11
{
	z-index: 12;
	width: 284px;
	min-height: 163px;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u6104-5
{
	z-index: 22;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

.round_btn_white
{
	border-width: 0px;
	border-color: #382C2D;
	background-color: transparent;
	border-radius: 100px;
}

#u6106
{
	z-index: 27;
	width: 50px;
	height: 50px;
	background: transparent url("../images/glasses_white.png") no-repeat center center;
}

.glasses
{
	border-width: 0px;
	border-color: #000000;
	border-radius: 100px;
	background: transparent url("../images/glasses_dark.png") no-repeat center center;
}

#u5987-5
{
	z-index: 33;
	width: 355px;
	min-height: 500px;
	border-style: solid;
	text-align: center;
	border-width: 0px 0px 0px 5px;
	background: #EAEAEA url("../images/high%20voltaje.jpg") no-repeat center center;
	background-size: cover;
}

.box2
{
	border-color: #F8F8F8;
	background-color: #EAEAEA;
	border-width: 2px 4px 2px 3px;
}

#u6101
{
	margin-top: 209px;
	margin-bottom: -209px;
	margin-left: -30px;
}

#u6096-11
{
	z-index: 38;
	width: 284px;
	min-height: 163px;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u6098-5
{
	z-index: 48;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

#u6100
{
	z-index: 53;
	width: 50px;
	height: 50px;
	background: transparent url("../images/glasses_white.png") no-repeat center center;
}

#u5977-8-bw
{
	z-index: 2;
	min-height: 500px;
	margin-top: 1010px;
}

#u5994-8
{
	z-index: 62;
	min-height: 500px;
	border-style: solid;
	border-color: #FFFFFF;
	text-align: left;
	border-width: 0px 30px;
}

#u5996-5
{
	z-index: 67;
	width: 355px;
	min-height: 310px;
	border-style: solid;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	padding-top: 190px;
	text-align: center;
	font-size: 50px;
	color: #FFFFFF;
	line-height: 60px;
	letter-spacing: 1px;
	font-family: meddon, cursive;
	font-weight: 400;
	border-width: 0px 5px 0px 0px;
	background: #000000 url("../images/climbing.jpg") no-repeat left center;
	background-size: cover;
}

#u6094
{
	margin-top: 20px;
	margin-bottom: -20px;
	margin-left: -30px;
}

#u6089-11
{
	z-index: 72;
	width: 284px;
	min-height: 163px;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u6091-5
{
	z-index: 82;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

#u6093
{
	z-index: 87;
	width: 50px;
	height: 50px;
	background: transparent url("../images/glasses_white.png") no-repeat center center;
}

#u6004-16
{
	z-index: 93;
	width: 355px;
	min-height: 500px;
	border-style: solid;
	text-align: center;
	border-width: 0px 0px 0px 5px;
	background: #EAEAEA url("../images/bikebasket.jpg") no-repeat center center;
	background-size: cover;
}

#u6088
{
	margin-top: 21px;
	margin-bottom: -21px;
	margin-left: -30px;
}

#u6083-11
{
	z-index: 109;
	width: 284px;
	min-height: 163px;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u6085-5
{
	z-index: 119;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

#u6087
{
	z-index: 124;
	width: 50px;
	height: 50px;
	background: transparent url("../images/glasses_white.png") no-repeat center center;
}

#u5994-8-bw
{
	z-index: 62;
	min-height: 500px;
	margin-top: 505px;
}

#u6012-8
{
	z-index: 133;
	min-height: 557px;
	border-style: solid;
	border-color: #FFFFFF;
	text-align: left;
	border-width: 0px 30px;
}

#u6014-5
{
	z-index: 138;
	width: 355px;
	min-height: 310px;
	border-style: solid;
	padding-top: 190px;
	text-align: center;
	font-size: 50px;
	color: #FFFFFF;
	line-height: 60px;
	letter-spacing: 1px;
	font-family: meddon, cursive;
	font-weight: 400;
	border-width: 0px 5px 0px 0px;
	background: #000000 url("../images/couple.jpg") no-repeat center center;
	background-size: cover;
}

#u6076
{
	margin-top: -21px;
	margin-bottom: 21px;
	margin-left: -30px;
}

#u6071-11
{
	z-index: 143;
	width: 284px;
	min-height: 163px;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u6073-5
{
	z-index: 153;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

#u6075
{
	z-index: 158;
	width: 50px;
	height: 50px;
	background: transparent url("../images/glasses_white.png") no-repeat center center;
}

#u6022-7
{
	z-index: 164;
	width: 355px;
	min-height: 500px;
	border-style: solid;
	text-align: center;
	border-width: 0px 0px 0px 5px;
	background: #EAEAEA url("../images/overlook.jpg") no-repeat center center;
	background-size: cover;
}

#u6082
{
	margin-top: 140px;
	margin-bottom: -140px;
	margin-left: -30px;
}

#u6077-11
{
	z-index: 171;
	width: 284px;
	min-height: 163px;
	background-color: transparent;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u6102-2,#u6096-2,#u6089-2,#u6083-2,#u6071-2,#u6077-2
{
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 3px;
	color: #FFFFFF;
}

#u6102-4,#u6096-4,#u6089-4,#u6083-4,#u6071-4,#u6077-4
{
	line-height: 27px;
	letter-spacing: 1px;
	color: #C9C9C9;
	font-style: italic;
}

#u6102-5,#u6096-5,#u6089-5,#u6083-5,#u6071-5,#u6077-5
{
	line-height: 27px;
	letter-spacing: -1px;
	color: #7F7F7F;
	font-style: italic;
}

#u6102-8,#u6096-8,#u6089-8,#u6083-8,#u6071-8,#u6077-8
{
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #382C2D;
}

#u6103,#u6097,#u6090,#u6084,#u6072,#u6078
{
	margin-top: -3px;
	margin-bottom: 3px;
}

#u6079-5
{
	z-index: 181;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

#u5977,#u5979,#u6102-6,#u6104,#u5987,#u6096-6,#u6098,#u5994,#u5996,#u6089-6,#u6091,#u6004-12,#u6083-6,#u6085,#u6012,#u6014,#u6071-6,#u6073,#u6022-3,#u6077-6,#u6079
{
	font-size: 1px;
	line-height: 0px;
}

#u6105,#u6099,#u6092,#u6086,#u6074,#u6080
{
	margin: -12px -10px -8px;
}

#u6081
{
	z-index: 186;
	width: 50px;
	height: 50px;
	background: transparent url("../images/glasses_white.png") no-repeat center center;
}

#u6102-9,#u6096-9,#u6089-9,#u6083-9,#u6071-9,#u6077-9
{
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 4px;
	color: #382C2D;
}

#u5977-4,#u5994-4,#u6012-4
{
	color: #FFFFFF;
}

#u5977-5,#u5994-5,#u6012-5
{
	color: #FFFF00;
}

#u6012-8-bw
{
	z-index: 133;
	min-height: 557px;
}

#u6011
{
	z-index: 195;
	width: 248px;
	height: 86px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 396px;
	margin-top: 47px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

