.version.descripcion_lcopia /* version checker */
{
	color: #0000E2;
	background-color: #6CE504;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -13px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	left: -133px;
	position: relative;
}

#u487-5
{
	z-index: 230;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 235;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

.js body.initialized
{
	visibility: visible;
}

#u487-5-bw
{
	z-index: 230;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -13px;
}

#slideshowu12379
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 155px;
	margin-top: 100px;
	position: relative;
}

#u12391
{
	position: absolute;
	background-color: transparent;
}

#u12391popup
{
	z-index: 3;
}

#u12392
{
	z-index: 4;
	border-color: #000000;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2646-5
{
	z-index: 239;
	min-height: 50px;
	padding-right: 6px;
}

#u2662
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u2661
{
	z-index: 244;
	width: 68px;
	height: 39px;
}

#u2661:hover
{
	width: 68px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 246;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-5-bw
{
	z-index: 239;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 16px;
}

#u7507
{
	z-index: 265;
	width: 248px;
	min-height: 82px;
	position: fixed;
	top: 16px;
	left: 24px;
}

#u12429
{
	z-index: 266;
	width: 35px;
	height: 1px;
	border-color: #000000;
	background-color: #382C2D;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -35px;
}

#pdown
{
	width: 0.01px;
	margin-left: -122px;
	margin-top: -64px;
}

#down
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 824px;
}

#u12398-5
{
	z-index: 7;
	min-height: 1172px;
	border-width: 0px;
	border-color: transparent;
}

.text_container
{
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 30px;
}

#u12399
{
	margin-top: -48px;
	margin-bottom: 48px;
}

#u12400-3
{
	z-index: 12;
	width: 803px;
	min-height: 1234px;
	background-color: transparent;
	text-align: right;
}

.box7
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

.js body,#u12400
{
	visibility: hidden;
}

#u12401
{
	margin-right: 20px;
}

#u12402-35
{
	z-index: 16;
	width: 237px;
	min-height: 1976px;
	border-style: solid;
	border-right-width: 20px;
	border-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 60px;
}

.box8
{
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u12402-8
{
	font-size: 30px;
	text-align: left;
	line-height: 45px;
	color: #7F7F7F;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u12402-7
{
	letter-spacing: 2px;
}

#u12402-9,#u12402-12
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
}

#u12402,#u12402-6,#u12402-16
{
	text-align: center;
}

#u12398,#u12402-14
{
	font-size: 1px;
	line-height: 0px;
}

#u12403
{
	margin-top: 40px;
	margin-bottom: -40px;
}

#u12404
{
	z-index: 34;
	width: 200px;
	height: 200px;
	border-color: #000000;
	border-radius: 100px;
	background: #FFFFFF url("../images/hearts.jpg") no-repeat center center;
	background-size: cover;
}

#u12402-17,#u12402-18,#u12402-19,#u12402-20,#u12402-21,#u12402-22,#u12402-26
{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 2px;
	color: #382C2D;
}

#u12402-27,#u12402-28,#u12402-29,#u12402-30,#u12402-31,#u12402-32,#u12402-33
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	letter-spacing: 2px;
	color: #382C2D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
}

#u12398-5-bw
{
	z-index: 7;
	min-height: 1172px;
}

#pu12407
{
	width: 0.01px;
	padding-bottom: 1976px;
	margin-left: -100px;
	margin-top: -1983px;
}

#u12407
{
	z-index: 6;
	height: 367px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#CC000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0)";
	border-color: #000000;
	position: fixed;
	bottom: 32px;
}

#u12407-bw
{
	z-index: 6;
}

#u12397-4
{
	z-index: 54;
	width: 160px;
	min-height: 19px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 6px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 57px;
	left: 50%;
	margin-left: -165px;
}

#u12405-4
{
	z-index: 58;
	width: 131px;
	min-height: 19px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 6px;
	text-align: left;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 57px;
	left: 50%;
	margin-left: -1px;
}

#u12396
{
	z-index: 64;
	width: 470px;
	min-height: 71px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	bottom: 7px;
	left: 19px;
}

#u12406-8
{
	z-index: 65;
	width: 724px;
	min-height: 572px;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	color: #FFFFFF;
	letter-spacing: -6px;
	font-family: abel, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 121px;
	left: 0px;
}

#u12406-2
{
	font-size: 200px;
	line-height: 194px;
}

#u12406-4,#u12406-6
{
	font-size: 150px;
	line-height: 146px;
}

#accordionu1636
{
	z-index: 73;
	position: fixed;
	bottom: -5px;
}

#u1637
{
	z-index: 74;
}

#u1649-5
{
	z-index: 75;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-5:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1649-5.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 80;
}

#pu1648-29
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1648-29
{
	z-index: 81;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 110;
	width: 430px;
	min-height: 412px;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 119;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 120;
	width: 225px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 121;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 125;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 129;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 133;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 137;
	min-height: 32px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-5
{
	z-index: 154;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 384px;
}

#u1932
{
	z-index: 159;
	width: 35px;
	height: 35px;
}

#u1963-5
{
	z-index: 161;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 430px;
}

#u1965
{
	z-index: 166;
	width: 35px;
	height: 35px;
}

#u1978-5
{
	z-index: 168;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 476px;
}

#u1901-5:hover,#u1963-5:hover,#u1978-5:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1980
{
	z-index: 173;
	width: 35px;
	height: 35px;
}

#u1936-5
{
	z-index: 175;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 338px;
}

#u1933,#u1964,#u1979,#u1937
{
	margin: -9px -10px -11px;
}

#u1938
{
	z-index: 180;
	width: 35px;
	height: 35px;
}

#u1932:hover,#u1965:hover,#u1980:hover,#u1938:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-6
{
	z-index: 182;
	width: 303px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 188;
	width: 234px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2126-4
{
	z-index: 222;
	width: 328px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 330px;
}

#u2127-4
{
	z-index: 226;
	width: 200px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 192;
	width: 280px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 193;
	width: 280px;
	min-height: 29px;
	position: relative;
}

#u2014-12
{
	z-index: 201;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u2013-4
{
	z-index: 197;
	width: 280px;
	min-height: 29px;
	margin-top: 45px;
	position: relative;
}

#u1900-9
{
	z-index: 213;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#accordionu1636-bw
{
	z-index: 73;
}

#u6111-17
{
	z-index: 248;
	width: 820px;
	min-height: 26px;
	position: fixed;
	top: 38px;
	left: 70px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

