#accordionu1636
{
	border-color: #7F7F7F;
	background: transparent url("../images/expand.svg") no-repeat right center;
	background-size: 200px 41px;
}

#u1637
{
	background-color: transparent;
}

#u1649-5
{
	border-style: solid;
	border-color: #EAEAEA;
	line-height: 12px;
	text-align: left;
	font-size: 12px;
	letter-spacing: 2px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	border-width: 1px 0px;
	background: #FFFFFF url("../images/expand.svg") no-repeat right center;
	background-size: 200px 41px;
}

#u1649-5:hover
{
	-pie-box-shadow: none;
	box-shadow: none;
	background: #FFFFFF url("../images/expand_over.svg") no-repeat right center;
	background-size: 200px 41px;
}

#u1649-5.AccordionPanelTabOpen
{
	-pie-box-shadow: 0px -1px 2px #F4F4F4;
	box-shadow: 0px -1px 2px rgba(0,0,0,0.04);
	background: #FFFFFF url("../images/hide.svg") no-repeat right center;
	background-size: 200px 41px;
}

.nosvg #accordionu1636,.nosvg #u1649-5
{
	background-image: url('../images/expand_poster_u10244.png');
}

.nosvg #u1649-5:hover
{
	background-image: url('../images/expand_over_poster_u9848.png');
}

#u1649-5.AccordionPanelTabOpen p,#u1649-5.AccordionPanelTabOpen span
{
	letter-spacing: 2px;
	text-align: left;
}

.nosvg #u1649-5.AccordionPanelTabOpen
{
	background-image: url('../images/hide_poster_u10236.png');
}

#u1649-2
{
	color: #382C2D;
}

#u1638
{
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u1648-29
{
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #F8F8F8;
	border-width: 0px 1px 0px 0px;
}

#u1648-27
{
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 2px;
	color: #7F7F7F;
	font-family: dosis, sans-serif;
	font-weight: 400;
}

#u1650-9
{
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	border-width: 0px 1px 0px 0px;
}

#u1650
{
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 3px;
	color: #7F7F7F;
	font-family: dosis, sans-serif;
	font-weight: 400;
}

#u1650-2,#u1650-3,#u1650-4
{
	line-height: 25px;
	letter-spacing: 1px;
	color: #7F7F7F;
	font-family: dosis, sans-serif;
	font-weight: 400;
}

#u1650-5,#u1650-6
{
	line-height: 25px;
	letter-spacing: 4px;
	color: #382C2D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1650-7
{
	font-size: 15px;
	line-height: 27px;
	letter-spacing: 4px;
	color: #382C2D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#widgetu1643
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#widgetu1643.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u1645-4
{
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	line-height: 14px;
	letter-spacing: 2px;
	color: #7F7F7F;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	border-width: 0px 0px 1px;
}

#widgetu1643:hover #u1645-4
{
	border-color: #C4C4C4;
}

#widgetu1643.focus-st #u1645-4
{
	border-color: #6B6B6B;
}

#widgetu1643.fld-err-st #u1645-4
{
	border-color: #90624D;
}

#widgetu1643:hover #u1645-4 *
{
	color: #90624D;
}

#widgetu1643.focus-st #u1645-4 *
{
	color: #7F7F7F;
}

#widgetu1643.fld-err-st #u1645-4 *
{
	color: #90624D;
}

#widgetu1643_input,#widgetu1643_prompt
{
	color: #7F7F7F;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-style: normal;
	font-weight: 400;
}

#widgetu1643.non-empty-st #widgetu1643_prompt
{
	visibility: hidden;
}

#u1647-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu1639.frm-sub-st #u1647-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1642-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu1639.frm-subm-err-st #u1642-4 p
{
	color: #90624D;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1640-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu1639.frm-subm-ok-st #u1640-4 p
{
	color: #90624D;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1641-17
{
	background: transparent url("../images/u1641-17.png") no-repeat 2px 2px;
}

#u1641-17:hover
{
	background: transparent url("../images/u1641-17-r.png") no-repeat 0px 0px;
}

#u1641-17:active
{
	background: transparent url("../images/u1641-17-m.png") no-repeat 0px 0px;
}

#widgetu1639.frm-sub-st #u1641-17
{
	background: transparent url("../images/u1641-17-fs.png") no-repeat 2px 2px;
}

#u1901-5
{
	border-width: 0px;
	border-color: #382C2D;
	text-align: center;
}

.round_btn
{
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	border-radius: 100px;
}

#u1932
{
	border-color: #000000;
	border-radius: 100px;
	background: transparent url("../images/soc_tw.svg") no-repeat center center;
	background-size: contain;
}

#u1932:hover
{
	background: transparent url("../images/soc_tw_over.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1932
{
	background-image: url('../images/soc_tw_poster_u10011.png');
}

.nosvg #u1932:hover
{
	background-image: url('../images/soc_tw_over_poster_u10003.png');
}

#u1963-5
{
	border-width: 0px;
	border-color: #382C2D;
	text-align: center;
}

#u1965
{
	border-color: #000000;
	border-radius: 100px;
	background: transparent url("../images/soc_pin.svg") no-repeat center center;
	background-size: contain;
}

#u1965:hover
{
	background: transparent url("../images/soc_pin_over.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1965
{
	background-image: url('../images/soc_pin_poster_u9994.png');
}

.nosvg #u1965:hover
{
	background-image: url('../images/soc_pin_over_poster_u9986.png');
}

#u1978-5
{
	border-width: 0px;
	border-color: #382C2D;
	text-align: center;
}

#u1980
{
	border-color: #000000;
	border-radius: 100px;
	background: transparent url("../images/soc_inst.svg") no-repeat center center;
	background-size: contain;
}

#u1980:hover
{
	background: transparent url("../images/soc_inst_over.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1980
{
	background-image: url('../images/soc_inst_poster_u9977.png');
}

.nosvg #u1980:hover
{
	background-image: url('../images/soc_inst_over_poster_u9969.png');
}

#u1936-5
{
	border-width: 0px;
	border-color: #382C2D;
	text-align: center;
}

#u1938
{
	border-color: #000000;
	border-radius: 100px;
	background: transparent url("../images/soc_fb_.svg") no-repeat center center;
	background-size: contain;
}

#u1938:hover
{
	background: transparent url("../images/soc_fb_over.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1938
{
	background-image: url('../images/soc_fb__poster_u9952.png');
}

.nosvg #u1938:hover
{
	background-image: url('../images/soc_fb_over_poster_u9961.png');
}

#u2012-4
{
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 1px;
	color: #7F7F7F;
	font-style: italic;
}

#u2126-4
{
	border-color: #EAEAEA;
	background-color: transparent;
	line-height: 12px;
	font-size: 9px;
	letter-spacing: 3px;
	color: #7F7F7F;
	font-family: dosis, sans-serif;
	font-weight: 400;
}

#u2126-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2126
{
	font-size: 8px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 10px;
}

#u2014-12
{
	border-color: #EAEAEA;
	background-color: transparent;
	line-height: 23px;
	font-size: 13px;
	letter-spacing: 3px;
	color: #7F7F7F;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u2012-6,#u2019-4,#u2127-4,#u2010-4,#u2013-4
{
	border-color: #EAEAEA;
	background-color: transparent;
}

#u1900-9
{
	border-color: #EAEAEA;
	background-color: transparent;
	color: #7F7F7F;
	font-weight: 400;
}

#u1900-2,#u1900-4,#u1900-6
{
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
}

#u1900-7
{
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 4px;
	font-family: dosis, sans-serif;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u487-5
{
	border-style: solid;
	border-color: #EAEAEA;
	background-color: #FFFFFF;
	text-align: right;
	border-width: 0px 0px 1px;
}

#u2613-3
{
	border-style: solid;
	border-color: #EAEAEA;
	background-color: transparent;
	border-width: 0px 1px;
}

#u2646-5
{
	background-color: transparent;
	text-align: right;
}

#u1901,#u1963,#u1978,#u1936,#u487,#u2646
{
	font-size: 1px;
	line-height: 0px;
}

#u2661
{
	border-color: #000000;
	background: transparent url("../images/cart_light.png") no-repeat center center;
}

#u2661:hover
{
	background: transparent url("../images/cart.png") no-repeat center center;
}

#u2647
{
	border-color: #000000;
	background: transparent url("../images/chat_light.png") no-repeat center center;
}

#u2647:hover
{
	background: transparent url("../images/chat.png") no-repeat center center;
}

#u6111-17
{
	background-color: transparent;
	line-height: 16px;
}

#u2017,#u7507
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

