.version.productos /* version checker */
{
	color: #0000F1;
	background-color: #CC3F8A;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	margin-bottom: -273px;
	width: 0.01px;/* should not cover content below */
}

#u487-5
{
	z-index: 838;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 843;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u487-5-bw
{
	z-index: 838;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -13px;
}

#top
{
	left: -128px;
	position: relative;
}

#u2646-5
{
	z-index: 847;
	min-height: 50px;
	padding-right: 6px;
}

#u2662
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u2661
{
	z-index: 852;
	width: 68px;
	height: 39px;
}

#u2661:hover
{
	width: 68px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2647
{
	z-index: 854;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-5-bw
{
	z-index: 847;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 16px;
}

#u7507
{
	z-index: 873;
	width: 248px;
	min-height: 82px;
	position: fixed;
	top: 16px;
	left: 24px;
}

#u6527
{
	z-index: 874;
	width: 35px;
	height: 1px;
	border-color: #000000;
	background-color: #382C2D;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: 77px;
}

#u6111-17
{
	z-index: 856;
	width: 820px;
	min-height: 26px;
	position: fixed;
	top: 38px;
	left: 70px;
}

#pu6409-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 63px;
}

#u6409-3
{
	z-index: 3;
	min-height: 313px;
	background: #D2D2D2 url("../images/brick_blur-u6409-3-fr.png") no-repeat center center;
	background-color: rgba(127,127,127,0.35);
	background-size: cover;
}

#u6409-3-bw
{
	z-index: 3;
	min-height: 313px;
}

#u6357-9
{
	z-index: 248;
	width: 491px;
	min-height: 47px;
	background-color: transparent;
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	letter-spacing: 7px;
	color: #90624D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 335px;
}

#u6357-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6357-2
{
	font-size: 45px;
	letter-spacing: 0px;
}

#u6361-4
{
	z-index: 254;
	width: 35px;
	min-height: 47px;
	background-color: transparent;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	letter-spacing: 7px;
	color: #90624D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6357-3
{
	font-size: 45px;
	line-height: 54px;
}

#u6357-4
{
	font-size: 45px;
	letter-spacing: 3px;
	line-height: 54px;
}

#u6357-5
{
	font-size: 30px;
}

#u2654,#u6360,#u6358
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u6359-4
{
	z-index: 262;
	width: 28px;
	min-height: 47px;
	background-color: transparent;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	letter-spacing: 7px;
	color: #90624D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6361,#u6359
{
	font-family: meddon, cursive;
	font-weight: 400;
}

#u6357-6
{
	font-size: 30px;
	line-height: 36px;
}

#u6473-4
{
	z-index: 267;
	width: 112px;
	min-height: 18px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: 394px;
	padding: 6px 7px 3px;
}

#u6473-4.MuseLinkActive
{
	border-style: solid;
	border-width: 1px;
	border-color: #90624D;
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 3px;
	min-height: 18px;
	width: 111px;
	margin: 203px -10001px -1px 0px;
}

.catagory
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#u6473-4.MuseLinkActive p,#u6473-4.MuseLinkActive h1
{
	color: #90624D;
	visibility: inherit;
	line-height: 1.2;
	letter-spacing: 3px;
	text-align: center;
	font-size: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#u6473-2
{
	color: #90624D;
}

#u6350-4
{
	z-index: 271;
	width: 115px;
	min-height: 14px;
	padding: 3px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 537px;
}

#u6350-4:hover
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 115px;
	margin: 207px -10000px 0px 0px;
}

#u6488-4
{
	z-index: 275;
	width: 94px;
	min-height: 14px;
	padding: 3px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 651px;
}

#u6488-4:hover
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 94px;
	margin: 207px -10000px 0px 0px;
}

#u6362-4
{
	z-index: 279;
	width: 561px;
	min-height: 14px;
	padding: 3px;
	line-height: 14px;
	color: #90624D;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 298px;
}

#u6362-4:hover
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 561px;
	margin: 159px -10000px 0px 0px;
}

#u6350-4:hover p,#u6350-4:hover h1,#u6488-4:hover p,#u6488-4:hover h1,#u6362-4:hover p,#u6362-4:hover h1
{
	color: #382C2D;
	visibility: inherit;
	line-height: 1.2;
	letter-spacing: 3px;
	text-align: center;
	font-size: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0px;
}

#accordionu1636
{
	z-index: 681;
	position: fixed;
	bottom: -5px;
}

#u1637
{
	z-index: 682;
}

#u1649-5
{
	z-index: 683;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-5:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1649-5.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 688;
}

#u1648-29
{
	z-index: 689;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 718;
	width: 430px;
	min-height: 412px;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 727;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 728;
	width: 225px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 729;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 733;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 737;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 741;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 745;
	min-height: 32px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-5
{
	z-index: 762;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 384px;
}

#u1932
{
	z-index: 767;
	width: 35px;
	height: 35px;
}

#u1963-5
{
	z-index: 769;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 430px;
}

#u1965
{
	z-index: 774;
	width: 35px;
	height: 35px;
}

#u1978-5
{
	z-index: 776;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 476px;
}

#u1901-5:hover,#u1963-5:hover,#u1978-5:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1980
{
	z-index: 781;
	width: 35px;
	height: 35px;
}

#u1936-5
{
	z-index: 783;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 338px;
}

#u1933,#u1964,#u1979,#u1937
{
	margin: -9px -10px -11px;
}

#u1938
{
	z-index: 788;
	width: 35px;
	height: 35px;
}

#u1932:hover,#u1965:hover,#u1980:hover,#u1938:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-6
{
	z-index: 790;
	width: 303px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 796;
	width: 234px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2126-4
{
	z-index: 830;
	width: 328px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 330px;
}

#u2127-4
{
	z-index: 834;
	width: 200px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 800;
	width: 280px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 801;
	width: 280px;
	min-height: 29px;
	position: relative;
}

#u2014-12
{
	z-index: 809;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u2013-4
{
	z-index: 805;
	width: 280px;
	min-height: 29px;
	margin-top: 45px;
	position: relative;
}

#u1900-9
{
	z-index: 821;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#accordionu1636-bw
{
	z-index: 681;
}

#pppu6405-26
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 78px;
}

#pu1648-29,#ppu6405-26
{
	width: 0.01px;
	margin-right: -10000px;
}

#u6405-26
{
	z-index: 6;
	width: 278px;
	min-height: 398px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

.home_thumb_container
{
	border-width: 1px;
	border-color: #989898;
	background-color: transparent;
}

#u6407
{
	z-index: 26;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

.flourish
{
	border-width: 0px;
	border-color: #000000;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6381-3
{
	z-index: 567;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 364px;
	left: 88px;
	padding: 12px 10px 10px;
}

.home_thumb_btn1
{
	border-width: 3px;
	border-color: #90624D;
	background-color: transparent;
}

#u6398-5
{
	z-index: 570;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 375px;
	left: 154px;
}

.round_btn_read
{
	border-width: 0px;
	border-color: #382C2D;
	background-color: transparent;
	border-radius: 100px;
}

#u6400
{
	z-index: 575;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

.glasses
{
	border-width: 0px;
	border-color: #000000;
	border-radius: 100px;
	background: transparent url("../images/glasses_dark.png") no-repeat center center;
}

#u6419-5
{
	z-index: 577;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 375px;
	left: 97px;
}

#u6421
{
	z-index: 582;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6450
{
	z-index: 669;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/consultation%20-%202-u6450-fr.jpg") no-repeat center top;
	background-size: cover;
}

.home_thumb_img
{
	border-width: 0px;
	border-color: #000000;
	background: #7F7F7F url("../images/consultation1.jpg") no-repeat left top;
	background-size: contain;
}

#pu6401
{
	width: 0.01px;
	margin-top: 15px;
}

#u6401
{
	z-index: 134;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6402-40
{
	z-index: 135;
	width: 278px;
	min-height: 578px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6404
{
	z-index: 167;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6349-3
{
	z-index: 584;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 555px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6369-5
{
	z-index: 587;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 566px;
	left: 154px;
}

#u6371
{
	z-index: 592;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6383-5
{
	z-index: 594;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 566px;
	left: 97px;
}

#u6385
{
	z-index: 599;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6386
{
	z-index: 672;
	width: 280px;
	height: 386px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_necklace.jpg") no-repeat right top;
	background-size: cover;
}

#u6464
{
	z-index: 324;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6465-24
{
	z-index: 325;
	width: 278px;
	min-height: 388px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6468
{
	z-index: 345;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6426-3
{
	z-index: 618;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 363px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6461-5
{
	z-index: 621;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 154px;
}

#u6463
{
	z-index: 626;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6442-5
{
	z-index: 628;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 97px;
}

#u6444
{
	z-index: 633;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6432
{
	z-index: 680;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/makeup_bag.jpg") no-repeat left top;
	background-size: cover;
}

#u6413
{
	z-index: 351;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6414-39
{
	z-index: 352;
	width: 278px;
	min-height: 593px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6416
{
	z-index: 385;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6418-3
{
	z-index: 652;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 569px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6410-5
{
	z-index: 655;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 154px;
}

#u6412
{
	z-index: 660;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6392-5
{
	z-index: 662;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 97px;
}

#u6394
{
	z-index: 667;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6452
{
	z-index: 676;
	width: 280px;
	height: 388px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_purse.jpg") no-repeat right top;
	background-size: cover;
}

#ppu6477
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 320px;
}

#u6477
{
	z-index: 177;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6478-38
{
	z-index: 178;
	width: 278px;
	min-height: 585px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6478-24
{
	text-align: center;
	line-height: 25px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6480
{
	z-index: 210;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6453-3
{
	z-index: 550;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 551px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6474-5
{
	z-index: 553;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 154px;
}

#u6476
{
	z-index: 558;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6354-5
{
	z-index: 560;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 97px;
}

#u6356
{
	z-index: 565;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6375
{
	z-index: 670;
	width: 280px;
	height: 389px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_scarf.jpg") no-repeat center top;
	background-size: cover;
}

#pu6446
{
	width: 0.01px;
	margin-top: 18px;
}

#u6446
{
	z-index: 104;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6447-27
{
	z-index: 105;
	width: 278px;
	min-height: 388px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6449
{
	z-index: 126;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6451-3
{
	z-index: 533;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 365px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6485-5
{
	z-index: 536;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 154px;
}

#u6487
{
	z-index: 541;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6470-5
{
	z-index: 543;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 376px;
	left: 97px;
}

#u6472
{
	z-index: 548;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6351
{
	z-index: 673;
	width: 280px;
	height: 196px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_sun-glasses.jpg") no-repeat left top;
	background-size: cover;
}

#u6427
{
	z-index: 283;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6428-38
{
	z-index: 284;
	width: 278px;
	min-height: 585px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6430
{
	z-index: 316;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6380-3
{
	z-index: 601;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 560px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6363-5
{
	z-index: 604;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 154px;
}

#u6365
{
	z-index: 609;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6395-5
{
	z-index: 611;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 97px;
}

#u6397
{
	z-index: 616;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6408
{
	z-index: 675;
	width: 280px;
	height: 387px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_scarf.jpg") no-repeat center top;
	background-size: cover;
}

#pu6500
{
	width: 0.01px;
	margin-top: 12px;
}

#u6500
{
	z-index: 393;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6501-28
{
	z-index: 394;
	width: 278px;
	min-height: 401px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6501-14
{
	text-align: center;
	line-height: 12px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6503
{
	z-index: 416;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6431-3
{
	z-index: 635;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 377px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6377-5
{
	z-index: 638;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 154px;
}

#u6379
{
	z-index: 643;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6433-5
{
	z-index: 645;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 97px;
}

#u6435
{
	z-index: 650;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6445
{
	z-index: 677;
	width: 280px;
	height: 196px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_sun-glasses.jpg") no-repeat left center;
	background-size: cover;
}

#ppu6454
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 640px;
}

#pu6405-26,#pu6477,#pu6454
{
	width: 0.01px;
}

#u6454
{
	z-index: 218;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6455-24
{
	z-index: 219;
	width: 278px;
	min-height: 398px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6457
{
	z-index: 239;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6417-3
{
	z-index: 516;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 364px;
	left: 89px;
	padding: 12px 10px 10px;
}

#u6439-5
{
	z-index: 519;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 155px;
}

#u6441
{
	z-index: 524;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6423-5
{
	z-index: 526;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 98px;
}

#u6425
{
	z-index: 531;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6382
{
	z-index: 671;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/makeup_bag.jpg") no-repeat right top;
	background-size: cover;
}

#pu6492
{
	width: 0.01px;
	margin-top: 14px;
}

#u6492
{
	z-index: 63;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6493-38
{
	z-index: 64;
	width: 278px;
	min-height: 579px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6493-24
{
	text-align: center;
	line-height: 18px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6414-25,#u6493-25
{
	text-align: center;
	line-height: 17px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6402-27,#u6402-30,#u6493-27,#u6493-30
{
	text-align: center;
	line-height: 21px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6495
{
	z-index: 96;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6352-3
{
	z-index: 499;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 556px;
	left: 89px;
	padding: 12px 10px 10px;
}

#u6482-5
{
	z-index: 502;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 567px;
	left: 155px;
}

#u6484
{
	z-index: 507;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6372-5
{
	z-index: 509;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 567px;
	left: 98px;
}

#u6374
{
	z-index: 514;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6391
{
	z-index: 679;
	width: 280px;
	height: 386px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_purse.jpg") no-repeat right top;
	background-size: cover;
}

#pu6464,#pu6427,#pu6387
{
	width: 0.01px;
	margin-top: 13px;
}

#u6387
{
	z-index: 34;
	width: 300px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6388-26
{
	z-index: 35;
	width: 278px;
	min-height: 388px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6390
{
	z-index: 55;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

#u6353-3
{
	z-index: 482;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 363px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6497-5
{
	z-index: 485;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 154px;
}

#u6499
{
	z-index: 490;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6366-5
{
	z-index: 492;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 97px;
}

#u6368
{
	z-index: 497;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6469
{
	z-index: 674;
	width: 280px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/high%20voltaje-u6469-fr.jpg") no-repeat left top;
	background-size: cover;
}

#pu6413,#pu6436-39
{
	width: 0.01px;
	margin-top: 17px;
}

#u6436-39
{
	z-index: 424;
	width: 278px;
	min-height: 593px;
	border-style: solid;
	border-width: 1px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
}

#u6436-28
{
	font-size: 14px;
	text-align: center;
	line-height: 21px;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6405-3,#u6405-4,#u6405-5,#u6405-6,#u6405-7,#u6405-8,#u6405-9,#u6405-10,#u6405-11,#u6405-12,#u6405-13,#u6405-15,#u6405-18,#u6402-3,#u6402-4,#u6402-5,#u6402-6,#u6402-7,#u6402-8,#u6402-9,#u6402-10,#u6402-11,#u6402-12,#u6402-13,#u6402-14,#u6402-15,#u6402-16,#u6402-17,#u6402-18,#u6402-19,#u6402-20,#u6402-21,#u6402-22,#u6402-23,#u6402-24,#u6402-25,#u6465-3,#u6465-4,#u6465-5,#u6465-6,#u6465-7,#u6465-8,#u6465-9,#u6465-10,#u6465-11,#u6465-12,#u6465-13,#u6465-15,#u6465-18,#u6414-3,#u6414-4,#u6414-5,#u6414-6,#u6414-7,#u6414-8,#u6414-9,#u6414-10,#u6414-11,#u6414-12,#u6414-13,#u6414-14,#u6414-15,#u6414-16,#u6414-17,#u6414-18,#u6414-19,#u6414-20,#u6414-21,#u6414-22,#u6414-23,#u6414-24,#u6414-26,#u6414-28,#u6414-31,#u6478-3,#u6478-4,#u6478-5,#u6478-6,#u6478-7,#u6478-8,#u6478-9,#u6478-10,#u6478-11,#u6478-12,#u6478-13,#u6478-14,#u6478-15,#u6478-16,#u6478-17,#u6478-18,#u6478-19,#u6478-20,#u6478-21,#u6478-22,#u6478-23,#u6478-25,#u6478-27,#u6478-30,#u6447-3,#u6447-4,#u6447-5,#u6447-6,#u6447-7,#u6447-8,#u6447-9,#u6447-10,#u6447-11,#u6447-12,#u6447-13,#u6447-14,#u6447-16,#u6447-19,#u6428-3,#u6428-4,#u6428-5,#u6428-6,#u6428-7,#u6428-8,#u6428-9,#u6428-10,#u6428-11,#u6428-12,#u6428-13,#u6428-14,#u6428-15,#u6428-16,#u6428-17,#u6428-18,#u6428-19,#u6428-20,#u6428-21,#u6428-22,#u6428-23,#u6428-24,#u6428-25,#u6428-27,#u6428-30,#u6501-3,#u6501-4,#u6501-5,#u6501-6,#u6501-7,#u6501-8,#u6501-9,#u6501-10,#u6501-11,#u6501-12,#u6501-13,#u6501-15,#u6501-17,#u6501-20,#u6455-3,#u6455-4,#u6455-5,#u6455-6,#u6455-7,#u6455-8,#u6455-9,#u6455-10,#u6455-11,#u6455-12,#u6455-13,#u6455-15,#u6455-18,#u6493-3,#u6493-4,#u6493-5,#u6493-6,#u6493-7,#u6493-8,#u6493-9,#u6493-10,#u6493-11,#u6493-12,#u6493-13,#u6493-14,#u6493-15,#u6493-16,#u6493-17,#u6493-18,#u6493-19,#u6493-20,#u6493-21,#u6493-22,#u6493-23,#u6388-3,#u6388-4,#u6388-5,#u6388-6,#u6388-7,#u6388-8,#u6388-9,#u6388-10,#u6388-11,#u6388-12,#u6388-13,#u6388-15,#u6388-18,#u6436-3,#u6436-4,#u6436-5,#u6436-6,#u6436-7,#u6436-8,#u6436-9,#u6436-10,#u6436-11,#u6436-12,#u6436-13,#u6436-14,#u6436-15,#u6436-16,#u6436-17,#u6436-18,#u6436-19,#u6436-20,#u6436-21,#u6436-22,#u6436-23,#u6436-24,#u6436-25,#u6436-26,#u6436-31
{
	font-size: 14px;
	text-align: center;
	letter-spacing: 5px;
	color: #333333;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6406,#u6403,#u6467,#u6415,#u6479,#u6448,#u6429,#u6502,#u6456,#u6494,#u6389,#u6437
{
	margin-top: 9px;
	margin-bottom: -9px;
}

#u6438
{
	z-index: 457;
	width: 30px;
	height: 27px;
	background: transparent url("../images/flourish.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u6407,.nosvg .flourish,.nosvg #u6404,.nosvg #u6468,.nosvg #u6416,.nosvg #u6480,.nosvg #u6449,.nosvg #u6430,.nosvg #u6503,.nosvg #u6457,.nosvg #u6495,.nosvg #u6390,.nosvg #u6438
{
	background-image: url('../images/flourish_poster_u9864.png');
}

#u6405-19,#u6402-31,#u6465-19,#u6414-32,#u6478-31,#u6447-20,#u6428-31,#u6501-21,#u6455-19,#u6493-31,#u6388-19,#u6436-32
{
	text-align: center;
	letter-spacing: 4px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u6402-33,#u6402-35,#u6402-36,#u6402-37,#u6436-34,#u6436-36
{
	text-align: center;
	line-height: 18px;
}

#u6405,#u6405-2,#u6405-21,#u6405-23,#u6405-24,#u6402,#u6402-2,#u6402-38,#u6465,#u6465-2,#u6465-21,#u6465-22,#u6414,#u6414-2,#u6414-34,#u6414-36,#u6414-37,#u6478,#u6478-2,#u6478-33,#u6478-35,#u6478-36,#u6447,#u6447-2,#u6447-22,#u6447-24,#u6447-25,#u6428,#u6428-2,#u6428-33,#u6428-35,#u6428-36,#u6501,#u6501-2,#u6501-23,#u6501-25,#u6501-26,#u6455,#u6455-2,#u6455-21,#u6455-22,#u6493,#u6493-2,#u6493-33,#u6493-35,#u6493-36,#u6388,#u6388-2,#u6388-21,#u6388-23,#u6388-24,#u6436,#u6436-2,#u6436-37
{
	text-align: center;
}

#u6481-3
{
	z-index: 465;
	width: 105px;
	min-height: 49px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 569px;
	left: 88px;
	padding: 12px 10px 10px;
}

#u6489-5
{
	z-index: 468;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 154px;
}

#u6491
{
	z-index: 473;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u6400:hover,#u6371:hover,#u6463:hover,#u6412:hover,#u6476:hover,#u6487:hover,#u6365:hover,#u6379:hover,#u6441:hover,#u6484:hover,#u6499:hover,#u6491:hover
{
	border-radius: 100px;
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cart_ap_white.png") no-repeat center center;
}

#u6458-5
{
	z-index: 475;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 580px;
	left: 97px;
}

#u6357,#u6405-16,#u6398,#u6419,#u6402-28,#u6369,#u6383,#u6465-16,#u6461,#u6442,#u6414-29,#u6410,#u6392,#u6478-28,#u6474,#u6354,#u6447-17,#u6485,#u6470,#u6428-28,#u6363,#u6395,#u6501-18,#u6377,#u6433,#u6455-16,#u6439,#u6423,#u6493-28,#u6482,#u6372,#u6388-16,#u6497,#u6366,#u6436-29,#u6489,#u6458
{
	font-size: 1px;
	line-height: 0px;
}

#u6399,#u6420,#u6370,#u6384,#u6462,#u6443,#u6411,#u6393,#u6475,#u6355,#u6486,#u6471,#u6364,#u6396,#u6378,#u6434,#u6440,#u6424,#u6483,#u6373,#u6498,#u6367,#u6490,#u6459
{
	margin: -12px -10px -8px;
}

#u6460
{
	z-index: 480;
	width: 50px;
	height: 50px;
	background: transparent url("../images/mag_brn.png") no-repeat center center;
}

#u6421:hover,#u6385:hover,#u6444:hover,#u6394:hover,#u6356:hover,#u6472:hover,#u6397:hover,#u6435:hover,#u6425:hover,#u6374:hover,#u6368:hover,#u6460:hover
{
	border-radius: 100px;
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/mag_white.png") no-repeat center center;
}

#u6422
{
	z-index: 678;
	width: 280px;
	height: 388px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
	background: #7F7F7F url("../images/thumb_necklace.jpg") no-repeat left top;
	background-size: cover;
}

.js #u6386.ose_pre_init,.js #u6432.ose_pre_init,.js #u6452.ose_pre_init,.js #u6351.ose_pre_init,.js #u6408.ose_pre_init,.js #u6445.ose_pre_init,.js #u6391.ose_pre_init,.js #u6469.ose_pre_init,.js #u6422.ose_pre_init
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

#u6376-3
{
	z-index: 245;
	width: 32px;
	min-height: 1754px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 699px;
	left: 976px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

