.version.product_details_2 /* version checker */
{
	color: #000007;
	background-color: #72E846;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -13px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	left: -133px;
	position: relative;
}

#u487-5
{
	z-index: 244;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 249;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

.js body.initialized
{
	visibility: visible;
}

#u487-5-bw
{
	z-index: 244;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -13px;
}

#slideshowu4523
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	margin-left: 155px;
	margin-top: 100px;
	position: relative;
}

#u4526
{
	position: absolute;
	background-color: transparent;
}

#u4526popup
{
	z-index: 3;
}

#u4527
{
	z-index: 4;
	border-color: #000000;
	background-color: transparent;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2646-5
{
	z-index: 253;
	min-height: 50px;
	padding-right: 6px;
}

#u2662
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u2661
{
	z-index: 258;
	width: 68px;
	height: 39px;
}

#u2661:hover
{
	width: 68px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 260;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-5-bw
{
	z-index: 253;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 16px;
}

#u7507
{
	z-index: 279;
	width: 248px;
	min-height: 82px;
	position: fixed;
	top: 16px;
	left: 24px;
}

#u6313
{
	z-index: 280;
	width: 35px;
	height: 1px;
	border-color: #000000;
	background-color: #382C2D;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: 77px;
}

#pdown
{
	width: 0.01px;
	margin-left: -122px;
	margin-top: -64px;
}

#down
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 824px;
}

#u4547-5
{
	z-index: 7;
	min-height: 1172px;
	border-width: 0px;
	border-color: transparent;
}

.text_container
{
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 30px;
}

#u4548
{
	margin-top: -48px;
	margin-bottom: 48px;
}

#u4549-3
{
	z-index: 12;
	width: 803px;
	min-height: 1234px;
	background-color: transparent;
	text-align: right;
}

.box7
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

.js body,#u4549
{
	visibility: hidden;
}

#u4550
{
	margin-right: 20px;
}

#u4551-43
{
	z-index: 16;
	width: 237px;
	min-height: 1312px;
	border-style: solid;
	border-right-width: 20px;
	border-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 60px;
}

.box8
{
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u4551,#u4551-6
{
	text-align: center;
}

#u4551-9
{
	font-size: 60px;
	text-align: left;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4551-7
{
	color: #A27259;
	font-family: abel, sans-serif;
	font-weight: 400;
	line-height: 72px;
}

#u4551-8
{
	font-size: 40px;
	color: #A27259;
	font-family: dosis, sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 48px;
}

#u4551-11
{
	letter-spacing: 2px;
}

#u4551-10,#u4551-14,#u4551-17,#u4551-19
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
}

#u4551-18
{
	letter-spacing: 2px;
	color: #382C2D;
}

#u4551-23
{
	color: #90624D;
}

#u4556
{
	margin-top: -11px;
	margin-bottom: 11px;
}

#u4557-5
{
	z-index: 49;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

.round_btn_read
{
	border-width: 0px;
	border-color: #382C2D;
	background-color: transparent;
	border-radius: 100px;
}

#u4558
{
	margin: -13px -10px -7px;
}

#u4559
{
	z-index: 54;
	width: 50px;
	height: 50px;
	background: transparent url("../images/grid_ico_brn.svg") no-repeat center top;
	background-size: 50px 50px;
}

#u4559:hover
{
	border-radius: 100px;
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/grid_ico_wh.svg") no-repeat center center;
	background-size: 50px 50px;
}

.nosvg #u4559
{
	background-image: url('../images/grid_ico_brn_poster_u9886.png');
}

.nosvg #u4559:hover
{
	background-image: url('../images/grid_ico_wh_poster_u9894.png');
}

.glasses
{
	border-width: 0px;
	border-color: #000000;
	border-radius: 100px;
	background: transparent url("../images/glasses_dark.png") no-repeat center center;
}

#u4552
{
	margin-top: -10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#u4553-5
{
	z-index: 58;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

#u4547,#u4551-29,#u4557,#u4553
{
	font-size: 1px;
	line-height: 0px;
}

#u4554
{
	margin: -10px;
}

#u4555
{
	z-index: 63;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u4555:hover
{
	border-radius: 100px;
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cart_ap_white.png") no-repeat center center;
}

#u4551-25,#u4551-26,#u4551-27,#u4551-28,#u4551-32,#u4551-33,#u4551-34
{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 2px;
	color: #382C2D;
}

#u4551-35,#u4551-36,#u4551-37,#u4551-38,#u4551-39,#u4551-40,#u4551-41
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	letter-spacing: 2px;
	color: #382C2D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
}

#u4547-5-bw
{
	z-index: 7;
	min-height: 1172px;
}

#pu4519
{
	width: 0.01px;
	padding-bottom: 1328px;
	margin-left: -100px;
	margin-top: -1331px;
}

#u4519
{
	z-index: 6;
	height: 367px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#CC000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0)";
	border-color: #000000;
	position: fixed;
	bottom: 41px;
}

#u4519-bw
{
	z-index: 6;
}

#u4521-4
{
	z-index: 76;
	width: 160px;
	min-height: 19px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 6px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 53px;
	left: 50%;
	margin-left: -165px;
}

#u4546-4
{
	z-index: 80;
	width: 131px;
	min-height: 19px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 6px;
	text-align: left;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 53px;
	left: 50%;
	margin-left: -1px;
}

#u4544
{
	z-index: 86;
	width: 420px;
	min-height: 71px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	bottom: 3px;
	left: 19px;
}

#accordionu1636
{
	z-index: 87;
	position: fixed;
	bottom: -5px;
}

#u1637
{
	z-index: 88;
}

#u1649-5
{
	z-index: 89;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-5:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1649-5.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 94;
}

#pu1648-29
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1648-29
{
	z-index: 95;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 124;
	width: 430px;
	min-height: 412px;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 133;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 134;
	width: 225px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 135;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 139;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 143;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 147;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 151;
	min-height: 32px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-5
{
	z-index: 168;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 384px;
}

#u1932
{
	z-index: 173;
	width: 35px;
	height: 35px;
}

#u1963-5
{
	z-index: 175;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 430px;
}

#u1965
{
	z-index: 180;
	width: 35px;
	height: 35px;
}

#u1978-5
{
	z-index: 182;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 476px;
}

#u1901-5:hover,#u1963-5:hover,#u1978-5:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1980
{
	z-index: 187;
	width: 35px;
	height: 35px;
}

#u1936-5
{
	z-index: 189;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 338px;
}

#u1933,#u1964,#u1979,#u1937
{
	margin: -9px -10px -11px;
}

#u1938
{
	z-index: 194;
	width: 35px;
	height: 35px;
}

#u1932:hover,#u1965:hover,#u1980:hover,#u1938:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-6
{
	z-index: 196;
	width: 303px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 202;
	width: 234px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2126-4
{
	z-index: 236;
	width: 328px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 330px;
}

#u2127-4
{
	z-index: 240;
	width: 200px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 206;
	width: 280px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 207;
	width: 280px;
	min-height: 29px;
	position: relative;
}

#u2014-12
{
	z-index: 215;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u2013-4
{
	z-index: 211;
	width: 280px;
	min-height: 29px;
	margin-top: 45px;
	position: relative;
}

#u1900-9
{
	z-index: 227;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#accordionu1636-bw
{
	z-index: 87;
}

#u6111-17
{
	z-index: 262;
	width: 820px;
	min-height: 26px;
	position: fixed;
	top: 38px;
	left: 70px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

