.version.servicios /* version checker */
{
	color: #00000C;
	background-color: #32885F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.94999999999936px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -13px;
	width: 0.01px;/* should not cover content below */
}

#paccordionu1636
{
	width: 0.01px;
	padding-bottom: 518px;
	margin-left: -100px;
}

#accordionu1636
{
	z-index: 349;
	position: fixed;
	bottom: -5px;
}

#u1637
{
	z-index: 350;
}

#u1649-5
{
	z-index: 351;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-5:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1649-5.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 356;
}

#pu1648-29
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1648-29
{
	z-index: 357;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 386;
	width: 430px;
	min-height: 412px;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 395;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 396;
	width: 225px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 397;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#u1647-4
{
	z-index: 401;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 405;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 409;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 413;
	min-height: 32px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-5
{
	z-index: 430;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 384px;
}

#u1932
{
	z-index: 435;
	width: 35px;
	height: 35px;
}

#u1963-5
{
	z-index: 437;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 430px;
}

#u1965
{
	z-index: 442;
	width: 35px;
	height: 35px;
}

#u1978-5
{
	z-index: 444;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 476px;
}

#u1901-5:hover,#u1963-5:hover,#u1978-5:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1980
{
	z-index: 449;
	width: 35px;
	height: 35px;
}

#u1936-5
{
	z-index: 451;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 338px;
}

#u1933,#u1964,#u1979,#u1937
{
	margin: -9px -10px -11px;
}

#u1938
{
	z-index: 456;
	width: 35px;
	height: 35px;
}

#u1932:hover,#u1965:hover,#u1980:hover,#u1938:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-6
{
	z-index: 458;
	width: 303px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 464;
	width: 234px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2126-4
{
	z-index: 498;
	width: 328px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 330px;
}

#u2127-4
{
	z-index: 502;
	width: 200px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 468;
	width: 280px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 469;
	width: 280px;
	min-height: 29px;
	position: relative;
}

#u2014-12
{
	z-index: 477;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u2013-4
{
	z-index: 473;
	width: 280px;
	min-height: 29px;
	margin-top: 45px;
	position: relative;
}

#u1900-9
{
	z-index: 489;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#accordionu1636-bw
{
	z-index: 349;
}

#u487-5
{
	z-index: 506;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 511;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

.js body.initialized
{
	visibility: visible;
}

#u487-5-bw
{
	z-index: 506;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -13px;
}

#u2646-5
{
	z-index: 515;
	min-height: 50px;
	padding-right: 6px;
}

#u2662
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u2661
{
	z-index: 520;
	width: 68px;
	height: 39px;
}

#u2661:hover
{
	width: 68px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 522;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-5-bw
{
	z-index: 515;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 16px;
}

#u6111-17
{
	z-index: 524;
	width: 820px;
	min-height: 26px;
	position: fixed;
	top: 38px;
	left: 70px;
}

#u7507
{
	z-index: 541;
	width: 248px;
	min-height: 82px;
	position: fixed;
	top: 16px;
	left: 24px;
}

#u11648
{
	z-index: 542;
	width: 75px;
	height: 1px;
	border-color: #000000;
	background-color: #382C2D;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -66px;
}

#u12036-5
{
	z-index: 213;
	min-height: 410px;
	border-width: 0px;
	border-color: transparent;
}

#u12036-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 410px;
	margin: 0px;
}

.text_container
{
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 30px;
}

#u12038-24
{
	z-index: 218;
	width: 330px;
	min-height: 405px;
	-webkit-transition-duration: 2s;
	-webkit-transition-delay: 0.3s;
	-webkit-transition-timing-function: ease;
	transition-duration: 2s;
	transition-delay: 0.3s;
	transition-timing-function: ease;
	text-align: right;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	letter-spacing: 4px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	background: #F6F5F5 url("../images/about_bg3.jpg") no-repeat left center;
	background-size: cover;
}

#u12038-24:hover
{
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 405px;
	width: 330px;
	margin: 0px;
	background-size: cover;
}

.box5
{
	border-width: 0px;
	border-color: #000000;
	background-color: #F6F5F5;
}

#u12040-5
{
	z-index: 243;
	width: 330px;
	min-height: 405px;
	text-align: center;
}

.box6
{
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u12042-21
{
	z-index: 248;
	width: 244px;
	min-height: 321px;
	background-color: transparent;
}

#u12044
{
	z-index: 257;
	width: 151px;
	height: 14px;
	border-style: solid;
	border-color: #C9C9C9;
	border-width: 1px 0px 0px;
}

.hr
{
	border-color: #EAEAEA;
	background-color: transparent;
	border-width: 1px 0px 0px;
}

#u12046-5
{
	z-index: 268;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

.round_btn_read
{
	border-width: 0px;
	border-color: #382C2D;
	background-color: transparent;
	border-radius: 100px;
}

#u12048
{
	z-index: 273;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: 31px 10px;
}

.glasses
{
	border-width: 0px;
	border-color: #000000;
	border-radius: 100px;
	background: transparent url("../images/glasses_dark.png") no-repeat center center;
}

#u12036-5-bw
{
	z-index: 213;
	min-height: 410px;
	margin-top: -401px;
	margin-bottom: -401px;
}

#u11583-5
{
	z-index: 169;
	min-height: 420px;
	-webkit-transition-duration: 2s;
	-webkit-transition-delay: 0.3s;
	-webkit-transition-timing-function: ease;
	transition-duration: 2s;
	transition-delay: 0.3s;
	transition-timing-function: ease;
	border-width: 0px;
	border-color: transparent;
	text-align: left;
	font-size: 6px;
	line-height: 7px;
	background: transparent url("../images/infraestructura.jpg") no-repeat left top;
	background-size: cover;
}

#u11583-5:hover
{
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 420px;
	margin: 0px;
	background-size: cover;
}

#u11586
{
	margin-top: -7px;
	margin-bottom: 7px;
}

#u11587-5
{
	z-index: 174;
	width: 340px;
	min-height: 410px;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #000000;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
}

.box3
{
	border-width: 0px;
	border-color: #FFFFFF;
	background-color: #F8F8F8;
}

#u11588
{
	margin-top: 54px;
	margin-bottom: -54px;
	margin-left: -30px;
}

#u11589-22
{
	z-index: 179;
	width: 244px;
	min-height: 321px;
	background-color: transparent;
}

#u11595
{
	z-index: 188;
	width: 151px;
	height: 14px;
	border-style: solid;
	border-color: #C9C9C9;
	border-width: 1px 0px 0px;
}

#u11591-5
{
	z-index: 200;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

#u11593
{
	z-index: 205;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: 31px 10px;
}

#u11583-5-bw
{
	z-index: 169;
	min-height: 420px;
	margin-top: 52px;
}

#u11570-5
{
	z-index: 55;
	min-height: 410px;
	border-width: 0px;
	border-color: transparent;
}

#u11582-24
{
	z-index: 60;
	width: 330px;
	min-height: 405px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.3s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0.3s;
	transition-timing-function: ease;
	text-align: right;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	letter-spacing: 4px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	background: #F6F5F5 url("../images/mapeo.png") no-repeat left center;
	background-size: cover;
}

#u11582-24:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0.3s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0.3s;
	transition-timing-function: ease;
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 405px;
	width: 330px;
	margin: 0px;
	background-size: cover;
}

#u11572-5
{
	z-index: 85;
	width: 330px;
	min-height: 405px;
	text-align: center;
}

#u12041,#u11573
{
	margin-top: 56px;
	margin-bottom: -56px;
}

#u11574-22
{
	z-index: 90;
	width: 244px;
	min-height: 321px;
	background-color: transparent;
}

#u11580
{
	z-index: 100;
	width: 151px;
	height: 14px;
	border-style: solid;
	border-color: #C9C9C9;
	border-width: 1px 0px 0px;
}

#u11576-5
{
	z-index: 111;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

#u11578
{
	z-index: 116;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: 31px 10px;
}

#u11570-5-bw
{
	z-index: 55;
	min-height: 410px;
	margin-top: 24px;
}

#u11596-5
{
	z-index: 3;
	min-height: 409px;
	-webkit-transition-duration: 2s;
	-webkit-transition-delay: 0.5s;
	-webkit-transition-timing-function: ease;
	transition-duration: 2s;
	transition-delay: 0.5s;
	transition-timing-function: ease;
	border-width: 0px;
	border-color: transparent;
	text-align: left;
	background: transparent url("../images/escaneo%203d.jpg") no-repeat left top;
	background-size: cover;
}

#u11596-5:hover
{
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 409px;
	margin: 0px;
	background-size: cover;
}

#u11597
{
	margin-top: -18px;
	margin-bottom: 18px;
}

#u11598-7
{
	z-index: 8;
	width: 340px;
	min-height: 404px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #000000;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
}

#u11599
{
	margin-top: -9px;
	margin-bottom: 9px;
	margin-left: -30px;
}

#u11600-22
{
	z-index: 15;
	width: 244px;
	min-height: 321px;
	background-color: transparent;
}

#u11574,#u11600
{
	color: #382C2D;
}

#u11606
{
	z-index: 25;
	width: 151px;
	height: 14px;
	border-style: solid;
	border-color: #C9C9C9;
	border-width: 1px 0px 0px;
}

#u11602-5
{
	z-index: 36;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

#u11604
{
	z-index: 41;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: 31px 10px;
}

#u11596-5-bw
{
	z-index: 3;
	min-height: 409px;
	margin-top: 38px;
}

#u12130-5
{
	z-index: 281;
	min-height: 443px;
	border-width: 0px;
	border-color: transparent;
}

#u12132-24
{
	z-index: 286;
	width: 330px;
	min-height: 426px;
	-webkit-transition-duration: 2s;
	-webkit-transition-delay: 0.5s;
	-webkit-transition-timing-function: ease;
	transition-duration: 2s;
	transition-delay: 0.5s;
	transition-timing-function: ease;
	text-align: right;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	letter-spacing: 4px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	background: #F6F5F5 url("../images/bridge.jpg") no-repeat left center;
	background-size: cover;
}

#u12132-24:hover
{
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 426px;
	width: 330px;
	margin: 0px;
	background-size: cover;
}

#u12134-5
{
	z-index: 311;
	width: 330px;
	min-height: 405px;
	text-align: center;
}

#u12135
{
	margin-top: 20px;
	margin-bottom: -20px;
}

#u12136-21
{
	z-index: 316;
	width: 270px;
	min-height: 321px;
	background-color: transparent;
}

#u12042-2,#u11589-2,#u11574-3,#u11600-3,#u12136-2
{
	font-size: 15px;
	text-align: center;
	line-height: 23px;
	letter-spacing: 3px;
	color: #382C2D;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u12042-4,#u11589-4,#u11574-5,#u11600-5,#u12136-4
{
	text-align: center;
	line-height: 27px;
	letter-spacing: 1px;
	color: #7F7F7F;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
}

#u12042-7,#u11589-7,#u11574-8,#u11600-8,#u12136-7
{
	text-align: center;
	line-height: 27px;
	letter-spacing: -1px;
	color: #7F7F7F;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
}

#u12043,#u11594,#u11579,#u11605,#u12141
{
	margin-top: 27px;
	margin-bottom: -27px;
}

#u12142
{
	z-index: 325;
	width: 151px;
	height: 14px;
	border-style: solid;
	border-color: #C9C9C9;
	border-width: 1px 0px 0px;
}

#u12042-11,#u11589-11,#u11589-12,#u11574-12,#u11600-12,#u12136-11
{
	text-align: center;
}

#u12042-8,#u12042-9,#u12042-12,#u12042-13,#u12042-16,#u11589-8,#u11589-9,#u11589-13,#u11589-14,#u11589-17,#u11574-9,#u11574-10,#u11574-13,#u11574-14,#u11574-17,#u11600-9,#u11600-10,#u11600-13,#u11600-14,#u11600-17,#u12136-8,#u12136-9,#u12136-12,#u12136-13,#u12136-16
{
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	letter-spacing: 1px;
	color: #382C2D;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u12045,#u11590,#u11575,#u11601,#u12137
{
	margin-top: -3px;
	margin-bottom: 3px;
}

#u12138-5
{
	z-index: 336;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

#u12036,#u12040,#u12042-5,#u12042-14,#u12046,#u11583,#u11587,#u11589-5,#u11589-15,#u11591,#u11570,#u11572,#u11574-6,#u11574-15,#u11576,#u11596,#u11598-3,#u11600-6,#u11600-15,#u11602,#u12130,#u12134,#u12136-5,#u12136-14,#u12138
{
	font-size: 1px;
	line-height: 0px;
}

#u12047,#u11592,#u11577,#u11603,#u12139
{
	margin: -12px -10px -8px;
}

#u12140
{
	z-index: 341;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: 31px 10px;
}

#u12048:hover,#u11593:hover,#u11578:hover,#u11604:hover,#u12140:hover
{
	border-radius: 100px;
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/glasses_white.png") no-repeat center center;
}

#u12042-18,#u11589-19,#u11574-19,#u11600-19,#u12136-18
{
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	letter-spacing: 1px;
	color: #7F7F7F;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
}

#u12042-19,#u11589-20,#u11574-20,#u11600-20,#u12136-19
{
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	letter-spacing: 4px;
	color: #382C2D;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u12130-5-bw
{
	z-index: 281;
	min-height: 443px;
	margin-top: 14px;
}

#pu11569
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 31px;
}

#u11569
{
	z-index: 2;
	min-height: 209px;
	border-color: #000000;
	padding-bottom: 61px;
	background: #90624D url("../images/brick_blur.jpg") no-repeat center top;
}

#u11569_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u11629-6
{
	z-index: 49;
	width: 940px;
	min-height: 167px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 106px;
}

#u11629-2
{
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 7px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u11629-4
{
	font-size: 45px;
	line-height: 86px;
	letter-spacing: 4px;
	color: #90624D;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u11569-bw
{
	z-index: 2;
	min-height: 209px;
}

#pamphletu11609
{
	z-index: 124;
	width: 0.01px;
	height: 41px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 475px;
}

#u11625
{
	z-index: 125;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 11px;
}

#u11626
{
	position: absolute;
	width: 202px;
	border-style: solid;
	border-width: 3px;
	border-color: #90624D;
	border-radius: 0px;
	padding-bottom: 10px;
	top: -17px;
	left: -14px;
}

#u11626:hover
{
	border-color: #FFFFFF;
	background-color: transparent;
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

.home_thumb_btn1
{
	border-width: 3px;
	border-color: #90624D;
	background-color: transparent;
}

#u11627-4
{
	z-index: 127;
	width: 180px;
	min-height: 28px;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	color: #90624D;
	line-height: 24px;
	letter-spacing: 3px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 11px;
}

#u11626:hover #u11627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 180px;
	margin: 13px -10000px 0px 0px;
}

#u11626.PamphletThumbSelected #u11627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 180px;
	margin: 13px -10000px 0px 0px;
}

#u11626:hover #u11627-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u11626.PamphletThumbSelected #u11627-4 p
{
	color: #90624D;
	visibility: inherit;
}

#u11610
{
	position: absolute;
	width: 1161px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 44px;
	top: -168px;
	left: -480px;
}

#u11610popup
{
	z-index: 131;
}

#u11611
{
	z-index: 132;
	width: 1117px;
	height: 591px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#widgetu11612
{
	z-index: 133;
	width: 0.01px;
	height: 121px;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 212px;
}

#widgetu11613
{
	z-index: 134;
	width: 496px;
	height: 63px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#widgetu11613.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 496px;
	height: 63px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u11615-4
{
	z-index: 135;
	width: 484px;
	min-height: 50px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	padding: 6px;
	font-size: 50px;
	color: #C9C9C9;
	line-height: 50px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#widgetu11613:hover #u11615-4
{
	border-color: #C4C4C4;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 50px;
	width: 484px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11613.focus-st #u11615-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 50px;
	width: 484px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11613.fld-err-st #u11615-4
{
	border-color: #90624D;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 50px;
	width: 484px;
	margin: 0px -10000px 0px 0px;
}

#widgetu11613:hover #u11615-4 *
{
	color: #90624D;
}

#widgetu11613.focus-st #u11615-4 *
{
	color: #C9C9C9;
}

#widgetu11613.fld-err-st #u11615-4 *
{
	color: #90624D;
}

#widgetu11613_input,#widgetu11613_prompt
{
	width: 484px;
	min-height: 50px;
	color: #C9C9C9;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt,#widgetu11613:hover #widgetu11613_input,#widgetu11613.focus-st #widgetu11613_input,#widgetu11613.fld-err-st #widgetu11613_input,#widgetu11613:hover #widgetu11613_prompt,#widgetu11613.focus-st #widgetu11613_prompt,#widgetu11613.fld-err-st #widgetu11613_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu11613.non-empty-st #widgetu11613_prompt
{
	visibility: hidden;
}

#u11618-4
{
	z-index: 139;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#widgetu11612.frm-sub-st #u11618-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u11619-4
{
	z-index: 143;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#widgetu11612.frm-subm-err-st #u11619-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u11617-4
{
	z-index: 147;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#widgetu11612.frm-sub-st #u11618-4,#widgetu11612.frm-subm-err-st #u11619-4,#widgetu11612.frm-subm-ok-st #u11617-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu11612.frm-subm-ok-st #u11617-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u11620-17
{
	z-index: 151;
	min-height: 58px;
	width: 179px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 532px;
	background: transparent url("../images/u11620-17.png") no-repeat 2px 2px;
}

#u11620-17:hover
{
	background: transparent url("../images/u11620-17-r.png") no-repeat 0px 0px;
}

#u11620-17:active
{
	background: transparent url("../images/u11620-17-m.png") no-repeat 0px 0px;
}

#widgetu11612.frm-sub-st #u11620-17
{
	background: transparent url("../images/u11620-17-fs.png") no-repeat 2px 2px;
}

#u11628
{
	width: 38px;
	height: 38px;
	border-style: solid;
	border-width: 2px;
	border-color: #90624D;
	border-radius: 100px;
	position: fixed;
	top: 2224px;
	right: 29px;
	background: #FFFFFF url("../images/x.jpg") no-repeat center center;
	background-size: contain;
}

#u11628:hover
{
	width: 38px;
	height: 38px;
	min-height: 0px;
	margin: 0px;
	background: #90624D url("../images/x_wh.gif") no-repeat center center;
	background-size: contain;
}

#u11628:active
{
	width: 38px;
	height: 38px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/x_wh.gif") no-repeat center center;
	background-size: contain;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

