.version.simple_sign_up /* version checker */
{
	color: #0000EE;
	background-color: #BD9ABC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#paccordionu1636
{
	width: 0.01px;
	padding-bottom: 518px;
	margin: -13px -10000px -5px -100px;
}

#accordionu1636
{
	z-index: 37;
	position: fixed;
	bottom: -5px;
}

#u1637
{
	z-index: 38;
}

#u1649-5
{
	z-index: 39;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-5:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1649-5.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 44;
}

#pu1648-29
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1648-29
{
	z-index: 45;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 74;
	width: 430px;
	min-height: 412px;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 83;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 84;
	width: 225px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 85;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#u1647-4
{
	z-index: 89;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 93;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 97;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 101;
	min-height: 32px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-5
{
	z-index: 118;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 384px;
}

#u1932
{
	z-index: 123;
	width: 35px;
	height: 35px;
}

#u1963-5
{
	z-index: 125;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 430px;
}

#u1965
{
	z-index: 130;
	width: 35px;
	height: 35px;
}

#u1978-5
{
	z-index: 132;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 476px;
}

#u1901-5:hover,#u1963-5:hover,#u1978-5:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1980
{
	z-index: 137;
	width: 35px;
	height: 35px;
}

#u1936-5
{
	z-index: 139;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 338px;
}

#u1933,#u1964,#u1979,#u1937
{
	margin: -9px -10px -11px;
}

#u1938
{
	z-index: 144;
	width: 35px;
	height: 35px;
}

#u1932:hover,#u1965:hover,#u1980:hover,#u1938:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-6
{
	z-index: 146;
	width: 303px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 152;
	width: 234px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2126-4
{
	z-index: 186;
	width: 328px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 330px;
}

#u2127-4
{
	z-index: 190;
	width: 200px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 156;
	width: 280px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 157;
	width: 280px;
	min-height: 29px;
	position: relative;
}

#u2014-12
{
	z-index: 165;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u2013-4
{
	z-index: 161;
	width: 280px;
	min-height: 29px;
	margin-top: 45px;
	position: relative;
}

#u1900-9
{
	z-index: 177;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#accordionu1636-bw
{
	z-index: 37;
}

#u487-5
{
	z-index: 194;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 199;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

.js body.initialized
{
	visibility: visible;
}

#u487-5-bw
{
	z-index: 194;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -13px;
}

#u2646-5
{
	z-index: 203;
	min-height: 50px;
	padding-right: 6px;
}

#u2662
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u2661
{
	z-index: 208;
	width: 68px;
	height: 39px;
}

#u2661:hover
{
	width: 68px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 210;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-5-bw
{
	z-index: 203;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 16px;
}

#u6111-17
{
	z-index: 212;
	width: 820px;
	min-height: 26px;
	position: fixed;
	top: 38px;
	left: 70px;
}

#u7507
{
	z-index: 229;
	width: 248px;
	min-height: 82px;
	position: fixed;
	top: 16px;
	left: 24px;
}

#widgetu6963
{
	z-index: 2;
	width: 0.01px;
	height: 124px;
	position: relative;
	margin-right: -10000px;
	margin-top: -266px;
	left: 153px;
}

#widgetu6966
{
	z-index: 3;
	width: 496px;
	height: 63px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#widgetu6966.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 496px;
	height: 63px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6969-4
{
	z-index: 4;
	width: 484px;
	min-height: 50px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	padding: 6px;
	font-size: 50px;
	color: #C9C9C9;
	line-height: 50px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#widgetu6966:hover #u6969-4
{
	border-color: #C4C4C4;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 50px;
	width: 484px;
	margin: 0px -10000px 0px 0px;
}

#widgetu6966.focus-st #u6969-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 50px;
	width: 484px;
	margin: 0px -10000px 0px 0px;
}

#widgetu6966.fld-err-st #u6969-4
{
	border-color: #90624D;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 50px;
	width: 484px;
	margin: 0px -10000px 0px 0px;
}

#widgetu6966:hover #u6969-4 *
{
	color: #90624D;
}

#widgetu6966.focus-st #u6969-4 *
{
	color: #C9C9C9;
}

#widgetu6966.fld-err-st #u6969-4 *
{
	color: #90624D;
}

#widgetu6966_input,#widgetu6966_prompt
{
	width: 484px;
	min-height: 50px;
	color: #C9C9C9;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt,#widgetu6966:hover #widgetu6966_input,#widgetu6966.focus-st #widgetu6966_input,#widgetu6966.fld-err-st #widgetu6966_input,#widgetu6966:hover #widgetu6966_prompt,#widgetu6966.focus-st #widgetu6966_prompt,#widgetu6966.fld-err-st #widgetu6966_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

.js body,#widgetu6966.non-empty-st #widgetu6966_prompt
{
	visibility: hidden;
}

#u6964-4
{
	z-index: 8;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#widgetu6963.frm-sub-st #u6964-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u6965-4
{
	z-index: 12;
	width: 200px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#widgetu6963.frm-subm-err-st #u6965-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 28px;
}

#widgetu6963.frm-subm-err-st #u6965-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u6971-4
{
	z-index: 16;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#widgetu6963.frm-sub-st #u6964-4,#widgetu6963.frm-subm-ok-st #u6971-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu6963.frm-subm-ok-st #u6971-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u6970-17
{
	z-index: 20;
	min-height: 58px;
	width: 179px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 532px;
	background: transparent url("../images/u6970-17.png") no-repeat 2px 2px;
}

#u6970-17:hover
{
	background: transparent url("../images/u6970-17-r.png") no-repeat 0px 0px;
}

#u6970-17:active
{
	background: transparent url("../images/u6970-17-m.png") no-repeat 0px 0px;
}

#widgetu6963.frm-sub-st #u6970-17
{
	background: transparent url("../images/u6970-17-fs.png") no-repeat 2px 2px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

.verticalspacer
{
	min-height: 1px;
}

