.version.vnt_multirotor /* version checker */
{
	color: #000019;
	background-color: #C5A8F1;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -13px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	left: -133px;
	position: relative;
}

#u487-5
{
	z-index: 291;
	min-height: 84px;
}

#u2614
{
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 70px;
}

#u2613-3
{
	z-index: 296;
	width: 69px;
	min-height: 89px;
}

#u2613-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 89px;
	width: 69px;
	margin: 0px;
}

.js body.initialized
{
	visibility: visible;
}

#u487-5-bw
{
	z-index: 291;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -13px;
}

#slideshowu12720
{
	z-index: 2;
	width: 0.01px;
	height: 2167px;
	left: -100px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u12721
{
	position: absolute;
	width: 1160px;
	height: 2167px;
	background-color: transparent;
}

#u12721popup
{
	z-index: 3;
}

#u12722
{
	z-index: 4;
	width: 1160px;
	height: 2167px;
	border-color: #000000;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12724
{
	z-index: 6;
	width: 1160px;
	height: 2167px;
	border-color: #000000;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2646-5
{
	z-index: 300;
	min-height: 50px;
	padding-right: 6px;
}

#u2662
{
	margin-top: 8px;
	margin-bottom: -8px;
}

#u2661
{
	z-index: 305;
	width: 68px;
	height: 39px;
}

#u2661:hover
{
	width: 68px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2654
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u2647
{
	z-index: 307;
	width: 66px;
	height: 39px;
}

#u2647:hover
{
	width: 66px;
	height: 39px;
	min-height: 0px;
	margin: 0px;
}

#u2646-5-bw
{
	z-index: 300;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 16px;
}

#u7507
{
	z-index: 326;
	width: 248px;
	min-height: 82px;
	position: fixed;
	top: 16px;
	left: 24px;
}

#u12633
{
	z-index: 327;
	width: 76px;
	height: 1px;
	border-color: #000000;
	background-color: #382C2D;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -66px;
}

#pdown
{
	width: 0.01px;
	margin-left: -122px;
	margin-top: -2126px;
}

#down
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 824px;
}

#u12745-5
{
	z-index: 9;
	min-height: 2104px;
	border-width: 0px;
	border-color: transparent;
}

.text_container
{
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 30px;
}

#u12759
{
	margin-top: -48px;
	margin-bottom: 48px;
}

#u12760-3
{
	z-index: 14;
	width: 803px;
	min-height: 1234px;
	background-color: transparent;
	text-align: right;
}

.box7
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

.js body,#u12760
{
	visibility: hidden;
}

#u12746
{
	margin-right: 20px;
}

#u12747-85
{
	z-index: 18;
	width: 237px;
	min-height: 2107px;
	border-style: solid;
	border-right-width: 20px;
	border-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 60px;
}

.box8
{
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u12747,#u12747-6
{
	text-align: center;
}

#u12747-8
{
	font-size: 60px;
	text-align: left;
	line-height: 72px;
	font-family: dosis, sans-serif;
	font-weight: 400;
}

#u12747-7
{
	color: #A27259;
}

#u12747-9
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	color: #7F7F7F;
	font-family: dosis, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u12752
{
	float: right;
	margin-top: 3px;
	margin-bottom: -3px;
}

#u12753
{
	z-index: 35;
	width: 251px;
	background-color: transparent;
}

#u12753_img
{
	padding-right: 36px;
	padding-bottom: 1px;
}

#u12747-10,#u12747-13,#u12747-14
{
	letter-spacing: 2px;
}

#u12747-16
{
	letter-spacing: 2px;
	color: #382C2D;
}

#u12747-11,#u12747-12,#u12747-15,#u12747-17,#u12747-18
{
	font-size: 14px;
	text-align: left;
	line-height: 21px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: normal;
}

#u12747-26,#u12747-27,#u12747-35,#u12747-46,#u12747-47
{
	color: #382C2D;
}

#u12747-74
{
	color: #90624D;
}

#u12747-75,#u12747-76,#u12747-77,#u12747-78,#u12747-79,#u12747-83
{
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 2px;
	color: #382C2D;
}

#u12748
{
	margin-top: -11px;
	margin-bottom: 11px;
}

#u12749-5
{
	z-index: 105;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

.round_btn_read
{
	border-width: 0px;
	border-color: #382C2D;
	background-color: transparent;
	border-radius: 100px;
}

#u12751
{
	z-index: 110;
	width: 50px;
	height: 50px;
	background: transparent url("../images/grid_ico_brn.svg") no-repeat center top;
	background-size: 50px 50px;
}

#u12751:hover
{
	border-radius: 100px;
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/grid_ico_wh.svg") no-repeat center center;
	background-size: 50px 50px;
}

.nosvg #u12751
{
	background-image: url('../images/grid_ico_brn_poster_u9886.png');
}

.nosvg #u12751:hover
{
	background-image: url('../images/grid_ico_wh_poster_u9894.png');
}

.glasses
{
	border-width: 0px;
	border-color: #000000;
	border-radius: 100px;
	background: transparent url("../images/glasses_dark.png") no-repeat center center;
}

#u12755
{
	margin-top: -10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#u12756-5
{
	z-index: 114;
	width: 50px;
	min-height: 38px;
	padding-top: 12px;
	text-align: center;
}

#u12745,#u12747-80,#u12749,#u12756
{
	font-size: 1px;
	line-height: 0px;
}

#u12750,#u12757
{
	margin: -13px -10px -7px;
}

#u12758
{
	z-index: 119;
	width: 50px;
	height: 50px;
	background: transparent url("../images/cart_ap.png") no-repeat center center;
}

#u12758:hover
{
	border-radius: 100px;
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cart_ap_white.png") no-repeat center center;
}

#u12745-5-bw
{
	z-index: 9;
	min-height: 2104px;
}

#pu12741
{
	width: 0.01px;
	padding-bottom: 2091px;
	margin-left: -100px;
	margin-top: -2129px;
}

#u12741
{
	z-index: 8;
	height: 367px;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)),color-stop(100%, rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) ,rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) ,rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#CC000000, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0)";
	border-color: #000000;
	position: fixed;
	bottom: 38px;
}

#u12741-bw
{
	z-index: 8;
}

#u12744-4
{
	z-index: 123;
	width: 160px;
	min-height: 19px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 6px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 43px;
	left: 50%;
	margin-left: -122px;
}

#u12743-4
{
	z-index: 127;
	width: 131px;
	min-height: 19px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-top: 6px;
	text-align: left;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 14px;
	letter-spacing: 2px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: fixed;
	bottom: 43px;
	left: 50%;
	margin-left: 42px;
}

#u12742
{
	z-index: 133;
	width: 420px;
	min-height: 30px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	bottom: 38px;
	left: 38px;
}

#accordionu1636
{
	z-index: 134;
	position: fixed;
	bottom: -5px;
}

#u1637
{
	z-index: 135;
}

#u1649-5
{
	z-index: 136;
	min-height: 26px;
	padding-top: 13px;
	padding-right: 60px;
}

#u1649-5:hover
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1649-5.AccordionPanelTabOpen
{
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 0px;
}

#u1638
{
	z-index: 141;
}

#pu1648-29
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1648-29
{
	z-index: 142;
	width: 245px;
	min-height: 412px;
	padding-left: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1650-9
{
	z-index: 171;
	width: 430px;
	min-height: 412px;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#widgetu1639
{
	z-index: 180;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 330px;
}

#widgetu1643
{
	z-index: 181;
	width: 225px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643.fld-err-st
{
	width: 225px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1645-4
{
	z-index: 182;
	width: 213px;
	min-height: 14px;
	padding: 6px;
	position: relative;
	margin-right: -10000px;
}

#widgetu1643:hover #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.focus-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643.fld-err-st #u1645-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 213px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1643_input,#widgetu1643_prompt
{
	width: 213px;
	min-height: 14px;
	padding: 6px;
}

#widgetu1643:hover #widgetu1643_input,#widgetu1643.focus-st #widgetu1643_input,#widgetu1643.fld-err-st #widgetu1643_input,#widgetu1643:hover #widgetu1643_prompt,#widgetu1643.focus-st #widgetu1643_prompt,#widgetu1643.fld-err-st #widgetu1643_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1647-4
{
	z-index: 186;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1642-4
{
	z-index: 190;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#u1640-4
{
	z-index: 194;
	width: 230px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 10px;
}

#widgetu1639.frm-sub-st #u1647-4,#widgetu1639.frm-subm-err-st #u1642-4,#widgetu1639.frm-subm-ok-st #u1640-4
{
	min-height: 25px;
}

#u1641-17
{
	z-index: 198;
	min-height: 32px;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 232px;
}

#u1901-5
{
	z-index: 215;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 384px;
}

#u1932
{
	z-index: 220;
	width: 35px;
	height: 35px;
}

#u1963-5
{
	z-index: 222;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 430px;
}

#u1965
{
	z-index: 227;
	width: 35px;
	height: 35px;
}

#u1978-5
{
	z-index: 229;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 476px;
}

#u1901-5:hover,#u1963-5:hover,#u1978-5:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 40px;
	margin: 250px -10000px 0px 0px;
}

#u1980
{
	z-index: 234;
	width: 35px;
	height: 35px;
}

#u1936-5
{
	z-index: 236;
	width: 40px;
	min-height: 28px;
	padding-top: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 338px;
}

#u1933,#u1964,#u1979,#u1937
{
	margin: -9px -10px -11px;
}

#u1938
{
	z-index: 241;
	width: 35px;
	height: 35px;
}

#u1932:hover,#u1965:hover,#u1980:hover,#u1938:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px;
}

#u2012-6
{
	z-index: 243;
	width: 303px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 331px;
}

#u2019-4
{
	z-index: 249;
	width: 234px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 217px;
	left: 336px;
}

#u2126-4
{
	z-index: 283;
	width: 328px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 330px;
}

#u2127-4
{
	z-index: 287;
	width: 200px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 20px;
}

#u2017
{
	z-index: 253;
	width: 280px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 746px;
}

#u2010-4
{
	z-index: 254;
	width: 280px;
	min-height: 29px;
	position: relative;
}

#u2014-12
{
	z-index: 262;
	width: 280px;
	min-height: 98px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u2013-4
{
	z-index: 258;
	width: 280px;
	min-height: 29px;
	margin-top: 45px;
	position: relative;
}

#u1900-9
{
	z-index: 274;
	width: 157px;
	min-height: 94px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#accordionu1636-bw
{
	z-index: 134;
}

#u6111-17
{
	z-index: 309;
	width: 820px;
	min-height: 26px;
	position: fixed;
	top: 38px;
	left: 70px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

